create table t (id integer);

insert into t
values (1), (2), (NULL), (3)


select array_agg_notnull(id) filter (where id is not null) from t

select string_agg(id::text, ',') from t


drop table t
