/*
select
  p.id_contract,
  u.id,
  *
from property_scheduling p
left join usuario u
on u.id = p.id_user_agent
left join contract c
on c.id = p.id_contract
where
	u.email = 'fernando.rosmaninho@agentes.quintoandar.com.br'
    and p.id_imovel = 892774268;
--    and c."dataAssinado"::date = '2016-02-01'


-- select * from files.agent_comission_over_contract_closed

*/

drop view if exists vw_imovel_agent_comission_slot;
create view vw_imovel_agent_comission_slot as
with published as
(
  select
    date_part('month', h.date) as period_month,
    date_part('year', h.date) as period_year,
  	i.id,
    i.regiao_id,
	count(distinct h.date) as qt_days_published
  from
    imovel i
  inner join
  	imovel_status_full_history h
    on h.id = i.id
    and h.status_history = 'publicado'
    and h.last_position_date_flag
  group by
    date_part('month', h.date),
    date_part('year', h.date),
  	i.id,
    i.regiao_id
)
select
  date_part('month', c."Period") as month,
  date_part('year', c."Period") as year,
  u.id as id_user,
  r.regioes_id as id_region,
  i.id as id_property,
  c."Compensation"::decimal(14,4) as total_comission_slot,
  i.qt_days_published,
  sum(i.qt_days_published)
  	over (partition by
    	date_part('year', c."Period"),
        date_part('month', c."Period"),
        u.id
      ) as qt_total_days_published,
  c."Compensation"::decimal(14,4)
  	/ sum(i.qt_days_published)
  		over (partition by
          date_part('year', c."Period"),
          date_part('month', c."Period"),
          u.id
      	)
    * i.qt_days_published
  as comission_per_slot

--  cc."Amount earned" as comission_contract,

from
  usuario u
inner join
  files.agent_comission_hourly c
  on c.email = u.email
  -- and c."Compensation" != 0
left join
  agent_region r
  on r."DadosAgente_id" = u.dados_agente_id
left join
  published i
  on i.regiao_id = r.regioes_id
  and date_part('month', c."Period") = i.period_month
  and date_part('year', c."Period") = i.period_year
-- where i.id = 892763559
-- where
--   u.email = 'fernando.rosmaninho@agentes.quintoandar.com.br'
  -- and date_part('month', c."Period") = 12
  -- and date_part('year', c."Period") = 2016
order by
  1,
  2,
  i.id


/*


select u.email, c.email, r.regioes_id, sum(c."Compensation")
from
  usuario u
left join
  agent_region r
  on r."DadosAgente_id" = u.dados_agente_id
inner join
  files.agent_comission_hourly c
  on c.email = u.email
--   and c."Compensation" != 0
group by
	u.email, c.email, r.regioes_id

where
  u.email = 'fernando.rosmaninho@agentes.quintoandar.com.br'


select status, first_publication, * from imovel where regiao_id in(71)


select * from files.agent_comission_hourly a
where a.email = 'fernando.rosmaninho@agentes.quintoandar.com.br'
and date_part('month', a."Period") = 12
and date_part('year', a."Period") = 2016


*/
