*                                                                       @quintoandar/bi-etl-ejuice-code-owners
.woodpecker/**                                                          @quintoandar/data-ingestion-code-owners
CODEOWNERS                                                              @quintoandar/data-ingestion-code-owners
Makefile                                                                @quintoandar/data-ingestion-code-owners
dags/*/metric_*                                                         @quintoandar/bi-etl-ejuice-metric-layer-code-owners
dags/atlas_db/**                                                        @quintoandar/atlas-db-code-owners
dags/conversational_xp/**                                               @quintoandar/personalization @quintoandar/copilot-ds @quintoandar/bi-etl-ejuice-code-owners
dags/dependencies.yaml                                                  @quintoandar/bi-etl-ejuice-code-owners @quintoandar/personalization @quintoandar/copilot-ds
dags/mlops/**                                                           @quintoandar/mlcops
dags/ops_poc/**                                                         @luisarodriguees @GabriellRodrigues @henriquedepaulo
dags/people/**                                                          @gab-berger @isa-carol @pedroprates
dags/planning_and_performance/**                                        @luisarodriguees @GabriellRodrigues
dags/platform/**                                                        @quintoandar/data-ingestion-code-owners
dags/primitives/**                                                      @quintoandar/personalization @quintoandar/copilot-ds @quintoandar/data-primitives
dags/support_and_service/**                                             @luisarodriguees @GabriellRodrigues @domus123
packages/**                                                             @quintoandar/data-ingestion-code-owners
packages/bietlejuice-runtime/src/bietlejuice/base/sst/**                @luisarodriguees @GabriellRodrigues @domus123
packages/bietlejuice-runtime/test/unit/base/sst/**                      @luisarodriguees @GabriellRodrigues @domus123
packages/bietlejuice-airflow/src/bietlejuice/base/sst/**                @luisarodriguees @GabriellRodrigues @domus123