boto3==1.4.1
botocore==1.4.69
docutils==0.12
enum==0.4.6
facebookads==2.8.1
futures==3.0.5
jmespath==0.9.0
petl==1.1.1
psycopg2==2.6.2
PyMySQL==0.7.9
python-dateutil==2.5.3
pytz==2016.7
requests==2.11.1
s3transfer==0.1.9
six==1.10.0
tzlocal==1.3
SQLAlchemy==1.1.4