select 'booking', count(1) from booking
union all
select 'visit', count(1) from visit
union all
select 'pre_proposal', count(1) from pre_proposal
union all
select 'negotiation', count(1) from negotiation
union all
select 'proposal', count(1) from proposal
union all
select 'contract', count(1) from contract
union all
select 'property_scheduling', count(1) from property_scheduling;