CREATE OR REPLACE FUNCTION public.f_get_days_in_month (
  dt timestamp
)
RETURNS integer AS
$body$

from datetime import timedelta
return (dt.replace(month = dt.month % 12 +1, day = 1)-timedelta(days=1)).day

$body$
LANGUAGE 'plpythonu'
IMMUTABLE
;


-- select public.f_get_days_in_month('2017-02-01')