drop view if exists vw_dim_marketing_attribution;
create view vw_dim_marketing_attribution
as
with attribution as
(
  SELECT
    id as sk_marketing_attribution,
    id,
    uuid,
    tipo,
    imovel_id,
    usuario_id,
    campaign,
    channel,
    event_type,
    mobile_app,
    platform,
    subchannel,
    adquirido_em,
    criado_em,
    atualizado_em,
    now() as load_timestamp,
    case when usuario_id is not null
      then row_number() over (partition by usuario_id order by adquirido_em, criado_em)
    end as rnk_usuario_id
  FROM
    public.marketing_attribution
)
select
	*
from
	attribution
where coalesce(rnk_usuario_id, 1) = 1
order by
	1
;