drop view if exists vw_dim_property;
create view vw_dim_property
as
SELECT
  i.id as sk_user,
  i.id,
  aluguel,
  bairro,
  cep,
  cidade,
  complemento,
  condominio,
  data_construcao,
  elevador,
  email_contato,
  email_sessao_fotos,
  endereco,
  estado_conservacao,
  fotografo_preenche_dados,
  iptu,
  lat,
  lng,
  mobiliado,
  nivel_acabamento,
  numero,
  numero_banheiros,
  numero_quartos,
  numero_suites,
  numero_vagas,
  porcentagem_cadastro_completa,
  prefere_email_sessao_fotos,
  status,
  tel_contato1,
  tel_contato2,
  tel_sessao_fotos,
  tipo,
  tipo_porteiro,
  tipo_vagas,
  verificado,
  usuario_id,
  codigo_promocao,
  cotar_seguro,
  valor_total,
  expiration_date,
  coalesce(h.dt_first_publication, i.first_publication) as first_publication,
  notificacao_anuncio_incompleto_proprietario,
  notificacao_anuncio_incompleto_admin,
  short_url,
  valor_seguro,
  -- instrucoes_agendamento,
  plano_aceito,
  sugerir_reajuste_de_preco,
  permite_placa_aluga_se,
  -- descricao_lead,
  prioridade_destaque_classificado,
  -- corretor_amigo,
  -- porteiro_amigo,
  dados_administradora_condominio,
  -- referencias,
  condominio_incluso,
  coordenadas_manuais,
  iptu_incluso,
  followup_proprietario_subir_fotos,
  data_primeiro_verificado,
  tipo_colisao_lead,
  calculo_pagamento_lead_corretor,
  nome_imagem_capa,
  geo_hash,
  tipo_anuncio,
  -- infos_admin,
  -- infos_admin_interna,
  -- historico_agendamento_fotos,
  calculo_pagamento_lead_afiliado,
  possui_banheiro_servico,
  possui_quarto_servico,
  bairro_padrao,
  tipo_condominio,
  tipo_iptu,
  disponivel_ate,
  flag_verificar_preco_comparando_com_media,
  sempre_consultar_proprietario_visita,
  email_publicacao_proprietario_enviado,
  status_conversao_imovel,
  -- matricula,
  ultimo_email_de_confirmacao_enviado,
  latlng,
  ultimo_update_indice,
  -- titulo,
  suspenso_ate,
  external_id,
  em_negociacao,
  em_negociacao_externa,
  entrou_em_negociacao_externa,
  motivo_recusa_cardiff,
  recaptado_em,
  job_fotografo_pendente,
  requisitou_fotos_profissionais,
  last_confirmation_availability,
  cartorio,
  penalization_score,
  receber_copia_contrato_padrao,
  rank_score,
  ultima_publicacao,
  confirmado_informacoes_visita,
  estado_abreviacao,
  estado_nome,
  dados_afiliado_tipo_afiliado,
  dados_afiliado_inicio_atuacao,
  dados_afiliado_cidade_atuacao,
  regiao_cidade,
  regiao_macro,
  regiao_sub,
  regiao_id,
  condominio_nome,
  local_nome,
  corretor_nome,
  etapa_data_web_caracteristicas,
  etapa_data_web_copiarmaisdados,
  etapa_data_web_fotos,
  etapa_data_web_uploadfotos,
  etapa_data_web_valores,
  etapa_data_mob_detalhes,
  etapa_data_mob_endereco,
  etapa_data_mob_fotos,
  etapa_data_mob_preco,
  etapa_data_mob_titulo,
  etapa_data_mob_visitas,
  etapa_data_mob_vistoria,

  i_dates.first_booking_date,
  i_dates.first_booking_confirmed_date,
  i_dates.first_visit_date,
  i_dates.first_visit_confirmed_date,
  i_dates.first_pre_proposal_date,
  i_dates.first_proposal_accepted_date,
  i_dates.first_contract_date,
  i_dates.first_signed_contract_date,
  i_dates.first_document_sent_date,
  i_dates.last_document_sent_date,

  EXTRACT(epoch FROM (first_booking_confirmed_date - first_publication))/86400 as time_listing_created_to_first_booking_realized,
  EXTRACT(epoch FROM (first_signed_contract_date - first_publication))/86400 as time_listing_created_to_first_contract_signed,
  EXTRACT(epoch FROM (first_document_sent_date - first_publication))/86400 as time_listing_created_to_first_documentation_sent,
  EXTRACT(epoch FROM (first_proposal_accepted_date - first_publication))/86400 as time_listing_created_to_first_offer_accepted,
  EXTRACT(epoch FROM (first_pre_proposal_date - first_publication))/86400 as time_listing_created_to_first_offer_submited,
  EXTRACT(epoch FROM (first_proposal_accepted_date - first_publication))/86400  as time_listing_created_to_first_refuse_by_security,
  EXTRACT(epoch FROM (first_visit_date - first_publication))/86400  as time_listing_created_to_first_visit_realized,

  data_criacao,
  atualizado_em,
  now() as load_timestamp
FROM
  public.imovel i
left join
(
  select
	id,
    min(a.status_date) as dt_first_publication
  from
	imovel_status_history a
  where
	a.published = 1
  group by
	a.id
) h
on h.id = i.id

inner join
(
  select
      i.id,
      min(b."criadoEm") as first_booking_date,
      min(b."criadoEm") filter (where b.status != 'Canceled') as first_booking_confirmed_date,
      min(v.dia) as first_visit_date,
      min(v.dia) filter (where b.status != 'Canceled') as first_visit_confirmed_date,
      min(pp."criadoEm") as first_pre_proposal_date,
      min(p."criadoEm") as first_proposal_accepted_date,
      min(c."criadoEm") as first_contract_date,
      min(c."dataAssinado") as first_signed_contract_date,
      min(p."dataDocumentosEnviados") as first_document_sent_date,
      max(p."dataDocumentosEnviados") as last_document_sent_date
  from
      imovel  i
  left join
      booking b
      on b.imovel_id = i.id
  left join
      visit v
      on v.id = b.visita_id
  left join
      rental_flow fl
      on fl.id = b."fluxoLocacao_id"
  left join
      pre_proposal pp
      on fl.imovel_id = pp.imovel_id
  left join
      proposal p
      on p."preProposta_id" = pp.id
  left join
      contract c
      on c.proposta_id = p.id
  group by
      i.id
) i_dates
on i_dates.id = i.id

;

-- select * from vw_dim_property limit 1000