drop view if exists vw_dim_scheduling;
create view vw_dim_scheduling
as
select
	s.id as sk_scheduling,
    s.id as id_scheduling,
    s.data as dt_scheduling,
    s.tipo as type,
    s.confirmado as confirmed,
    s.encerrado as closed,
    s."dataFupVisita" as dt_visit_follow_up,
    s."criadoEm" as dt_created,
    s."atualizadoEm" as dt_updated,
    now()::timestamp as dt_timestamp
from
	scheduling s;

