DROP VIEW IF EXISTS public.vw_dim_contacts_and_prospects;
CREATE VIEW public.vw_dim_contacts_and_prospects
AS
SELECT

  cap_id as sk_cap_id,
  lead_id,
  anuncio_criado_em,
  area_total,
  bairro,
  cep,
  cidade,
  complemento,
  endereco,
  numero,
  numero_banheiros,
  numero_quartos,
  numero_suites,
  url_anuncio,
  valor,
  telefone_anunciante,
  tipo,
  email,
  lat, 
  lng,
  condominio, 
  iptu, 
  reason,
  status, 
  envio_email_apresentacao_pos,
  envio_email_apresentacao_pre,
  processado, 
  origem,
  external_id,
  mencionar,
  automatically_discarded,
  estado_nome,
  estado_abrev,
  dados_afiliado_tipo_afiliado,
  dados_afiliado_inicio_atuacao,
  dados_afiliado_cidade_atuacao,
  region_id,
  atualizado_em,
  url_source,
  utm_medium, 
  utm_campaign,
  coalesce(utm_source, an1.network, an2.network) as network, -- 
  usuario_que_indicou_id,
  usuario_que_cadastrou_id,
  self_service,
  attribution_type,
  now() as load_timestamp
  
FROM
  public.contacts_and_prospects cap
left join 
  app_network an1
  on cap."usuario_que_indicou_id" = an1.user_id
left join 
  app_network an2
  on cap."usuario_que_cadastrou_id" = an2.user_id;