drop view if exists vw_dim_booking;
create view vw_dim_booking
as
select
	s.id as sk_booking,
    s.id as id_booking,
    s.data as dt_booking,
    s.tipo as type,
    s.confirmado as confirmed,
    s.encerrado as closed,
    s."fupVisita" as visit_follow_up,
    s."dataFupVisita" as dt_visit_follow_up,
    s."reagendadoDe_id" as rescheduled_from_id,
    s.visitante_id as id_visitor,
    s.visita_id as id_visit,
    s.imovel_id as id_property,
    s.agente_id as id_agent,
    s.atendente_id as id_attendant,
    s."fluxoLocacao_id" as id_rental_flow,
    s."criadoEm" as dt_created,
    s."atualizadoEm" as dt_updated,
    now()::timestamp as dt_timestamp
from
	booking s;

