drop view if exists vw_fact_liquidity_property_scheduling;
create view vw_fact_liquidity_property_scheduling
as
SELECT
  id_property_scheduling as ods_id,
  id_imovel as sk_propery,
  id_scheduling as sk_scheduling,
  id_owner as sk_owner,
  id_user_affiliate as sk_user_affiliate,
  id_user_agent as sk_user_agent,
  id_user_visitor as sk_user_visitor,
  id_user_visit_agent as sk_user_visit_agent,
  id_visit as sk_visit,
  id_negotiation as sk_negotiation,
  id_pre_proposal as sk_pre_proposal,
  id_proposal as sk_proposal,
  id_contract as sk_contract,
  dt_contract_cancelled as dt_contract_anullment,
  visit_created_from_app,
  visit_created_type,
  visit_last_updated_from_app,
  visit_last_updated_type,
  NULL::varchar(100) as source,
  NULL::varchar(100) as medium,
  NULL::varchar(200) as campaign,
  NULL::varchar(100) as channel,
  0::DECIMAL(14,4) as vl_cost_agents,
  0::DECIMAL(14,4) as vl_cost_closing_support,
  0::DECIMAL(14,4) as vl_cost_visit_support,
  0::DECIMAL(14,4) as vl_cost_marketing_campigns,
  0::DECIMAL(14,4) as vl_cost_marketing_ads,
  0::DECIMAL(14,4) as vl_cost_marketing_sms,
  now()::timestamp as dt_timestamp
FROM
  public.property_scheduling ;
