drop view if exists vw_imovel_liquidity_classifieds_costs;
create view vw_imovel_liquidity_classifieds_costs as
with costs as
(
  select
    "Date"::date as date,
	date_part('year',"Date") as year,
	date_part('month',"Date") as month,
    trim(REPLACE("Total",',',''))::decimal(14,4) as total,
    trim(REPLACE("Total",',',''))::decimal(14,4)
      / f_get_days_in_month("Date") as daily_cost
  from
    files.classified_costs c
  where
    "Date" is not null
),
published_listings as
(
  select distinct
  	i.status_date,
  	date_part('year', i.status_date) as year_status_date,
    date_part('month', i.status_date) as month_status_date,
    id
  from
  	imovel_status_full_history i
  where
    i.status_history = 'publicado'
    and i.last_position_date_flag
)
select
	c.year,
    c.month,
    p.status_date as listing_date,
    p.id,
    c.daily_cost,
    c.total,
    count(1) over (partition by p.status_date) as qt_listings_date,
    c.daily_cost / count(1) over (partition by p.status_date) as classified_cost
from
  costs c
inner join
  published_listings p
  on p.year_status_date = c.year
  and p.month_status_date = c.month

;

/*
select
    sum(classified_cost)
 from vw_imovel_liquidity_classifieds_costs
where
	year = 2016
group by
	id
*/