drop table if exists public.dim_negotiation ;
CREATE TABLE public.dim_negotiation (
  sk_contract INTEGER,
  id_contract INTEGER,
  dt_deadline TIMESTAMP,
  dt_send TIMESTAMP,
  guarantee VARCHAR(50),
  period VARCHAR(50),
  renting_proposal_value INTEGER,
  step VARCHAR(50),
  status VARCHAR(50),
  dt_rejection TIMESTAMP,
  rejection_reason VARCHAR(2000),
  dt_created TIMESTAMP,
  dt_updated TIMESTAMP,
  dt_timestamp TIMESTAMP WITHOUT TIME ZONE
)
;