DROP TABLE IF exists dim_booking;
CREATE TABLE dim_booking (
  sk_scheduling INTEGER,
  id_scheduling INTEGER,
  id_booking_original integer,
  valid_bookings_not_rescheduled boolean,
  dt_scheduling DATE,
  type VARCHAR(50),
  confirmed VARCHAR(100),
  closed VARCHAR(100),
  visit_follow_up VARCHAR(100),
  dt_visit_follow_up TIMESTAMP,
  rescheduled_from_id INTEGER,
  id_visitor BIGINT,
  id_visit BIGINT,
  id_property BIGINT,
  id_agent BIGINT,
  id_attendant BIGINT,
  id_rental_flow bigint,
  status varchar(50),
  dt_created TIMESTAMP WITHOUT TIME ZONE,
  dt_updated TIMESTAMP WITHOUT TIME ZONE,
  dt_timestamp TIMESTAMP WITHOUT TIME ZONE
);