DROP TABLE IF exists dim_scheduling;
CREATE TABLE dim_scheduling (
  sk_scheduling INTEGER,
  id_scheduling INTEGER,
  dt_scheduling DATE,
  type VARCHAR(50),
  confirmed VARCHAR(100),
  closed VARCHAR(100),
  dt_visit_follow_up VARCHAR(100),
  dt_created TIMESTAMP WITHOUT TIME ZONE,
  dt_updated TIMESTAMP WITHOUT TIME ZONE,
  dt_timestamp TIMESTAMP WITHOUT TIME ZONE
);