DROP TABLE IF EXISTS  public.dim_region;
CREATE TABLE public.dim_region (
  id INTEGER,
  sk_region INTEGER,
  nivel VARCHAR(30),
  nome VARCHAR(100),
  "macroId" INTEGER,
  "macroNome" VARCHAR(100),
  "cidadeId" INTEGER,
  "cidadeNome" VARCHAR(100),
  "criadaEm" TIMESTAMP WITHOUT TIME ZONE,
  "atualizadoEm" TIMESTAMP WITHOUT TIME ZONE,
  dt_timestamp DATE
) ;