DROP TABLE IF EXISTS dim_marketing_attribution;
CREATE TABLE dim_marketing_attribution (
  sk_marketing_attribution bigint primary key,
  id bigint,
  uuid varchar(255) DEFAULT NULL,
  tipo varchar(50) DEFAULT NULL,
  imovel_id bigint DEFAULT NULL,
  usuario_id bigint DEFAULT NULL,
  campaign varchar(255) DEFAULT NULL,
  channel varchar(255) DEFAULT NULL,
  event_type varchar(255) DEFAULT NULL,
  mobile_app varchar(255) DEFAULT NULL,
  platform varchar(255) DEFAULT NULL,
  subchannel varchar(255) DEFAULT NULL,
  adquirido_em timestamp DEFAULT NULL,
  criado_em timestamp DEFAULT NULL,
  atualizado_em timestamp DEFAULT NULL,
  load_timestamp TIMESTAMP WITHOUT TIME ZONE
) ;
-- select * from dim_marketing_attribution