drop table if exists dim_user;

CREATE TABLE dim_user (
  sk_user bigint not null primary key,
  id bigint,
  nome varchar(255) DEFAULT NULL,
  bairro varchar(255) DEFAULT NULL,
  cargo varchar(255) DEFAULT NULL,
  cep varchar(255) DEFAULT NULL,
  cidade varchar(255) DEFAULT NULL,
  complemento varchar(255) DEFAULT NULL,
  cpf varchar(255) DEFAULT NULL,
  cpf_validado_receita integer NULL,
  data_inicio_empresa varchar(255) DEFAULT NULL,
  data_nascimento timestamp DEFAULT NULL,
  email varchar(255) NULL,
  email_alternativo varchar(255) DEFAULT NULL,
  empresa varchar(255) DEFAULT NULL,
  endereco varchar(255) DEFAULT NULL,
  numero varchar(255) DEFAULT NULL,
  facebook_id varchar(255) DEFAULT NULL,
  linkedin_id varchar(255) DEFAULT NULL,
  formacao_curso varchar(255) DEFAULT NULL,
  formacao_escola varchar(255) DEFAULT NULL,
  formacao_tipo varchar(255) DEFAULT NULL,
  formacao_data_inicio timestamp DEFAULT NULL,
  formacao_data_fim timestamp DEFAULT NULL,
  novo_email varchar(255) DEFAULT NULL,
  salario varchar(255) DEFAULT NULL,
  sexo varchar(255) DEFAULT NULL,
  telefone_principal varchar(255) DEFAULT NULL,
  estado_abreviacao varchar(200) DEFAULT NULL,
  estado_nome varchar(200) DEFAULT NULL,
  contadorlogin bigint DEFAULT NULL,
  apelido varchar(255) DEFAULT NULL,
  nao_me_prgunte_telefone integer DEFAULT NULL,
  bloqueado integer NULL,
  rg varchar(30) DEFAULT NULL,
  tempo_resposta_medio_segundos bigint DEFAULT NULL,
  estado_civil varchar(255) DEFAULT NULL,
  nacionalidade varchar(200) DEFAULT NULL,
  profissao varchar(200) DEFAULT NULL,
  salesforce_contato_id varchar(255) DEFAULT NULL,
  detalhes_lead_busca_guiada varchar(2000),
  recebeu_busca_guiada integer DEFAULT NULL,
  dadosagente_email_coordinator varchar(255) DEFAULT NULL,
  dadosagente_cidade varchar(255) DEFAULT NULL,
  dadosagente_atuacao varchar(100) DEFAULT NULL,
  dadosagente_perfil varchar(255) DEFAULT NULL,
  dadosagente_numero_creci varchar(255) DEFAULT NULL,
  dadosagente_ativo integer DEFAULT NULL,
  aceita_sms integer DEFAULT NULL,
  salesforce_account_id varchar(255) DEFAULT NULL,
  preferencia_contato varchar(255) DEFAULT NULL,
  prefere_contato varchar(255) DEFAULT NULL,
  data_clickanuncie timestamp DEFAULT NULL,
  dadosbancarios_banco_codigo varchar(255) DEFAULT NULL,
  dadosbancarios_banco varchar(255) DEFAULT NULL,
  dadosbancarios_agencia varchar(255) DEFAULT NULL,
  dadosbancarios_conta_corrente varchar(255) DEFAULT NULL,
  dadosbancarios_cpf_cnpj varchar(255) DEFAULT NULL,
  dadosbancarios_nome varchar(255) DEFAULT NULL,
  dadosbancarios_outro_titular integer DEFAULT NULL,
  dadosbancarios_tipo_conta varchar(255) DEFAULT NULL,
  nao_enviar_aviso_mensal_procura integer NULL,
  cod_ativacao_sms varchar(6) DEFAULT NULL,
  data_geracao_cod_sms date DEFAULT NULL,
  emailSF varchar(255) DEFAULT NULL,
  tipo_admin varchar(255) DEFAULT NULL,
  last_update_oportunidade timestamp DEFAULT NULL,
  data_avisado_condicoes_cardiff timestamp DEFAULT NULL,
  data_captadora_enviou_email timestamp DEFAULT NULL,
  data_enviado_app_e_cardiff timestamp DEFAULT NULL,
  google_id varchar(255) DEFAULT NULL,
  account_kit_id varchar(255) DEFAULT NULL,
  dadosfotografo_inicio_contrato timestamp,
  dadosfotografo_tipo_contrato varchar(255) DEFAULT NULL,
  dadosfotografo_preferencia_pagamento varchar(255) DEFAULT NULL,
  dadosfotografo_ativo integer DEFAULT NULL,
  dadosvendedor_inicio_contrato timestamp,
  dadosvendedor_nome_gerente varchar(255) DEFAULT NULL,
  dadosafiliado_contador_planilha_leads integer DEFAULT NULL,
  dadosafiliado_contratos_fechados integer DEFAULT NULL,
  dadosafiliado_indicacao_shorturl varchar(100) DEFAULT NULL,
  dadosafiliado_inicio_atuacao timestamp,
  dadosafiliado_ultim_calculo_comissao_indicado timestamp DEFAULT NULL,
  dadosafiliado_verificado integer DEFAULT NULL,
  dadosafiliado_tipo varchar(255) DEFAULT NULL,
  dadosafiliado_cidade_atuacao varchar(100) DEFAULT NULL,
  dadosafiliado_principais_bairros_atuacao varchar(2000),
  dadosafiliado_preferencia_pagamento varchar(255) DEFAULT NULL,
  dadosafiliado_numero_creci varchar(255) DEFAULT NULL,
  dadosafiliado_semana_ultima_comunicacao_balanco integer DEFAULT NULL,
  dadosafiliado_id_planilha_gdocs varchar(200) DEFAULT NULL,
  dadosafiliado_ativo integer DEFAULT NULL,
  dadosgerenteContas_inicio_contrato timestamp,
  dadosgerenteContas_nome varchar(255) DEFAULT NULL,
  active integer NULL,
  dados_agente_id integer,
  dados_fotografo_id integer,
  dados_vendedor_id integer,
  dados_afiliado_id integer,
  tem_imovel varchar(10),
  tem_app_inquilino varchar(10),
  tem_contrato_ativo varchar(10),
  inquilino varchar(10),
  criado_em timestamp NULL ,
  atualizado_em timestamp DEFAULT NULL,
  load_timestamp TIMESTAMP WITHOUT TIME ZONE
) ;
--SET client_encoding TO 'LATIN1';
--SHOW client_encoding;


-- insert into dim_user (sk_user, criado_em) values (-1, '1900-01-01');