DROP TABLE IF EXISTS dim_proposal;
CREATE TABLE dim_proposal (
  sk_proposal INTEGER,
  id_proposal INTEGER,
  dt_proposal TIMESTAMP,
  guarantee VARCHAR(50),
  renting_proposal_value DOUBLE PRECISION,
  status VARCHAR(50),
  id_ticket INTEGER,
  dt_proposal_approved TIMESTAMP,
  tenant_document_sent INTEGER,
  dt_tenant_document_sent TIMESTAMP,
  owner_document_sent INTEGER,
  dt_owner_document_sent TIMESTAMP WITHOUT TIME ZONE,
  tenant_contract_accepted INTEGER,
  owner_contract_accepted INTEGER,
  status_doc_tenant VARCHAR(50),
  status_doc_owner VARCHAR(50),
  dt_created TIMESTAMP,
  dt_updated TIMESTAMP,
  dt_timestamp TIMESTAMP WITHOUT TIME ZONE
) ;
