Drop table if exists dim_lead;
CREATE TABLE public.dim_lead (
  sk_lead BIGINT PRIMARY KEY,
  id BIGINT,
  anuncio_criado_em DATE,
  area_total INTEGER,
  bairro VARCHAR(200),
  captado_em DATE,
  cep VARCHAR(9),
  cidade VARCHAR(200),
  complemento VARCHAR(200),
  endereco VARCHAR(200),
  endereco_captado TEXT,
  nome_anunciante VARCHAR(255),
  numero VARCHAR(200),
  numero_banheiros INTEGER,
  numero_quartos INTEGER,
  numero_suites INTEGER,
  url_anuncio VARCHAR(255),
  valor INTEGER,
  telefone_anunciante VARCHAR(100),
  valor_por_metro_quad NUMERIC(18,4),
  valor_por_quartos NUMERIC(18,4),
  tipo VARCHAR(255),
  email VARCHAR(250),
  email_captador VARCHAR(250),
  telefone_captador VARCHAR(250),
  hot INTEGER,
  proximo_followup TIMESTAMP WITHOUT TIME ZONE,
  gerado_a_partir_de_deduplicacao INTEGER,
  dentro_area_atuacao INTEGER,
  sistema_enviou_email_via_classificado INTEGER,
  lat NUMERIC(10,7),
  lng NUMERIC(10,7),
  condominio INTEGER,
  iptu INTEGER,
  reason VARCHAR(255),
  status VARCHAR(255),
  envio_email_apresentacao_pos TIMESTAMP WITHOUT TIME ZONE,
  envio_email_apresentacao_pre TIMESTAMP WITHOUT TIME ZONE,
  processado SMALLINT,
  origem VARCHAR(255),
  external_id VARCHAR(255),
  mencionar INTEGER,
  referencia VARCHAR(255),
  automatically_discarded INTEGER,
  estado_nome VARCHAR(255),
  estado_abrev VARCHAR(255),
  lead_imobiliaria VARCHAR(255),
  proprietario_nome VARCHAR(255),
  proprietario_email VARCHAR(255),
  dados_corretor_tipo_afiliado VARCHAR(200),
  dados_corretor_nome VARCHAR(200),
  dados_corretor_email VARCHAR(200),
  dados_gerente_contas_nome VARCHAR(200),
  dados_gerente_contas_email VARCHAR(200),
  dados_afiliado_tipo_afiliado VARCHAR(255),
  dados_afiliado_inicio_atuacao TIMESTAMP WITHOUT TIME ZONE,
  dados_afiliado_cidade_atuacao VARCHAR(100),
  region_id VARCHAR(100),
  atualizado_em TIMESTAMP WITHOUT TIME ZONE,
  criado_em TIMESTAMP WITHOUT TIME ZONE,
  utmSource VARCHAR(255),
  network VARCHAR(255),
  utmMedium VARCHAR(255),
  load_timestamp TIMESTAMP WITHOUT TIME ZONE
) ;