Drop table if exists dim_contact_and_prospect;
CREATE TABLE public.dim_contact_and_prospect (
  


  sk_cap_id BIGINT PRIMARY KEY,
  lead_id BIGINT,
  anuncio_criado_em DATE,
  area_total INTEGER,
  bairro VARCHAR(200),
  cep VARCHAR(9),
  cidade VARCHAR(200),
  complemento VARCHAR(200),
  endereco VARCHAR(200),
  numero VARCHAR(200),
  numero_banheiros INTEGER,
  numero_quartos INTEGER,
  numero_suites INTEGER,
  url_anuncio VARCHAR(255),
  valor INTEGER,
  telefone_anunciante VARCHAR(100),
  tipo VARCHAR(255),
  email VARCHAR(250),
  lat NUMERIC(10,7),
  lng NUMERIC(10,7),
  condominio INTEGER,
  iptu INTEGER,
  reason VARCHAR(255),
  status VARCHAR(255),
  envio_email_apresentacao_pos TIMESTAMP WITHOUT TIME ZONE,
  envio_email_apresentacao_pre TIMESTAMP WITHOUT TIME ZONE,
  processado SMALLINT,
  origem VARCHAR(255),
  external_id VARCHAR(255),
  mencionar INTEGER,
  automatically_discarded INTEGER,
  estado_nome VARCHAR(255),
  estado_abrev VARCHAR(255),
  dados_corretor_tipo_afiliado VARCHAR(200),
  dados_corretor_nome VARCHAR(200),
  dados_corretor_email VARCHAR(200),
  region_id VARCHAR(100),
  atualizado_em TIMESTAMP WITHOUT TIME ZONE,
  url_source VARCHAR(255),
  utm_medium VARCHAR(255),
  utm_campaign VARCHAR(255),
  network VARCHAR(255),
  usuario_que_indicou_id VARCHAR(255),
  self_service INTEGER,
  load_timestamp TIMESTAMP WITHOUT TIME ZONE
) ;