DROP TABLE IF EXISTS public.dim_pre_proposal;
CREATE TABLE public.dim_pre_proposal (
  sk_pre_proposal INTEGER,
  id_pre_proposal INTEGER,
  renting_value INTEGER,
  renting_original_value INTEGER,
  condo_original_value INTEGER,
  dt_approved INTEGER,
  editing VARCHAR(50),
  status VARCHAR(50),
  owner_accepted_5a_conditions INTEGER,
  dt_created TIMESTAMP,
  dt_updated TIMESTAMP,
  dt_timestamp TIMESTAMP WITHOUT TIME ZONE
) ;