DROP TABLE IF EXISTS public.fact_liquidity_ga_kpis;
CREATE TABLE public.fact_liquidity_ga_kpis (
  sk_date varchar(8),
  device_category VARCHAR(20),
  account_name VARCHAR(30),
  property_name VARCHAR(50),
  profile_name VARCHAR(50),
  users INTEGER,
  sessions INTEGER,
  bounces INTEGER,
  bounce_rate NUMERIC(18,4),
  pageviews INTEGER,
  unique_pageviews INTEGER,
  exits INTEGER,
  exit_rate NUMERIC(18,4),
  time_on_screen NUMERIC(18,4),
  avg_time_on_page NUMERIC(18,4),
  processed_date TIMESTAMP WITHOUT TIME ZONE
) ;