DROP TABLE IF EXISTS fact_liquidity_ga_confirmed_visits ;
CREATE TABLE fact_liquidity_ga_confirmed_visits (
  sk_date VARCHAR(8),
  campaign VARCHAR,
  source TEXT,
  medium TEXT,
  operating_system VARCHAR(50),
  device_model VARCHAR(50),
  device_marketing_name VARCHAR(200),
  device_category VARCHAR(20),
  account_name VARCHAR(100),
  property_name VARCHAR(100),
  profile_name VARCHAR(100),
  confirmed_visit_starts NUMERIC(18,4),
  confirmed_visit_completions NUMERIC(18,4),
  confirmed_visit_values NUMERIC(18,4),
  confirmed_visit_conversion_rate NUMERIC(18,4)
);
