DROP TABLE IF EXISTS public.fact_liquidity_property_scheduling;
CREATE TABLE public.fact_liquidity_property_scheduling (
  ods_id BIGINT,
  sk_property VARCHAR(12),
  sk_booking INTEGER,
  sk_owner INTEGER,
  sk_user_affiliate INTEGER,
  sk_user_agent INTEGER,
  sk_user_visitor INTEGER,
  sk_user_visit_agent INTEGER,
  sk_visit INTEGER,
  sk_negotiation INTEGER,
  sk_pre_proposal INTEGER,
  sk_proposal INTEGER,
  sk_contract INTEGER,
  id_rental_flow INTEGER,
  dt_contract_anullment DATE,
  visit_created_from_app INTEGER,
  visit_created_type VARCHAR(14),
  visit_last_updated_from_app INTEGER,
  visit_last_updated_type VARCHAR(14),
  initial_source VARCHAR(100),
  initial_medium VARCHAR(100),
  initial_campaign VARCHAR(200),
  initial_referring_domain VARCHAR(200),
  source VARCHAR(100),
  medium VARCHAR(100),
  campaign VARCHAR(200),
  referring_domain VARCHAR(200),
  vl_cost_marketing_campaigns NUMERIC(14,4),
  vl_cost_marketing_ads NUMERIC(14,4),
  vl_cost_marketing_sms NUMERIC(14,4),
  vl_cost_agents_comission NUMERIC(14,4),
  vl_cost_agents_slot NUMERIC(14,4),
  vl_cost_visit_support NUMERIC(14,4),
  vl_cost_closing_support NUMERIC(14,4),
  vl_cost_classifieds NUMERIC(14,4),
  dt_timestamp TIMESTAMP WITHOUT TIME ZONE
) WITH OIDS;
