DROP TABLE IF EXISTS fact_liquidity_ga_page_kpis  ;
CREATE TABLE fact_liquidity_ga_page_kpis (
  sk_date VARCHAR(8),
  source TEXT,
  medium TEXT,
  campaign VARCHAR(1000),
  device_category VARCHAR(20),
  account_name VARCHAR(100),
  property_name VARCHAR(100),
  profile_name VARCHAR(100),
  page_path VARCHAR,
  users INTEGER,
  sessions INTEGER,
  bounces INTEGER,
  bounce_rate NUMERIC(18,4),
  pageviews INTEGER,
  unique_pageviews INTEGER,
  exits INTEGER,
  exit_rate NUMERIC(18,4),
  time_on_screen NUMERIC(18,4),
  avg_time_on_page NUMERIC(18,4)
) ;
