DROP TABLE IF EXISTS public.fact_supply_potential_listings ;

CREATE TABLE public.fact_supply_potential_listings (
  ods_id BIGINT,
  dt_last_updated TIMESTAMP WITHOUT TIME ZONE,
  dt_created TIMESTAMP WITHOUT TIME ZONE,
  dt_updated TIMESTAMP WITHOUT TIME ZONE,
  sk_attibution INTEGER,
  attribution_uuid VARCHAR(255),
  dt_contact TIMESTAMP WITHOUT TIME ZONE,
  dt_lead TIMESTAMP WITHOUT TIME ZONE,
  dt_prospect TIMESTAMP WITHOUT TIME ZONE,
  dt_first_inside_sales_contact TIMESTAMP WITHOUT TIME ZONE,
  dt_qualified TIMESTAMP WITHOUT TIME ZONE,
  dt_opportunity TIMESTAMP WITHOUT TIME ZONE,
  dt_first_publication TIMESTAMP WITHOUT TIME ZONE,
  dt_listing_publication TIMESTAMP WITHOUT TIME ZONE,
  dt_contract TIMESTAMP WITHOUT TIME ZONE,
  is_first_publication BOOLEAN,
  sk_contact_date INTEGER,
  sk_lead_date INTEGER,
  sk_prospect TIMESTAMP WITHOUT TIME ZONE,
  sk_first_inside_sales_contact TIMESTAMP WITHOUT TIME ZONE,
  sk_qualified_date INTEGER,
  sk_opportunity_date INTEGER,
  sk_first_publication_date INTEGER,
  sk_listing_publication_date INTEGER,
  sk_contract_date INTEGER,
  sk_lead INTEGER,
  sk_property INTEGER,
  renting_value INTEGER,
  sk_photographer INTEGER,
  sk_owner INTEGER,
  sk_rep INTEGER,
  rep_area VARCHAR(100),
  count_employees_outbound integer,
  sk_manager INTEGER,
  admin_type VARCHAR(255),
  property_attribution_agent VARCHAR(255),
  lead_type VARCHAR(255),
  attribution_type VARCHAR(50),
  attribution_category VARCHAR(50),
  funnel_source VARCHAR(50),
  contact_to_lead_diff_minutes INTEGER,
  lead_to_qualified_diff_minutes INTEGER,
  qualified_to_opportunity_diff_minutes INTEGER,
  opportunity_to_listing_diff_minutes INTEGER,
  listing_to_1stcontract_diff_minutes INTEGER,
  contact_to_listing_diff_minutes INTEGER,
  contact_to_1stcontract_diff_minutes INTEGER,
  affiliate_listing_value NUMERIC(18,4),
  affiliate_renting_value NUMERIC(18,4),
  cac_affiliate NUMERIC(18,4),
  listing_month_distinct_count BIGINT,
  listing_day_distinct_count BIGINT,
  listing_month_times BIGINT,
  listing_day_times BIGINT,
  self_service_listing_day_times BIGINT,
  contact_month_distinct_count BIGINT,
  contact_day_distinct_count BIGINT,
  contact_month_times BIGINT,
  contact_day_times BIGINT,
  self_service_contact_day_times BIGINT,
  opportunity_month_distinct_count BIGINT,
  opportunity_day_distinct_count BIGINT,
  opportunity_month_times BIGINT,
  opportunity_day_times BIGINT,
  self_service_opportunity_day_times BIGINT,
  photo_month_cost NUMERIC(18,4),
  inside_sales_month_cost NUMERIC(18,4),
  facebook_mkt_day_cost NUMERIC(18,4),
  facebook_appinstall_day_cost NUMERIC(18,4),
  facebook_total_day_cost NUMERIC(18,4),
  google_adwords_day_cost NUMERIC(18,4),
  marketing_day_cost NUMERIC(18,4),
  fb_self_service_marketing_cost NUMERIC(18,4),
  fb_marketing_cost NUMERIC(18,4),
  google_marketing_cost NUMERIC(18,4),
  cac_photo NUMERIC(18,4),
  cac_inside_sales NUMERIC(18,4),
  cac_marketing NUMERIC(18,4),
  load_timestamp TIMESTAMP WITHOUT TIME ZONE
)
;