with c as
(
  select
    id,
    imovel_id,
    "dataInicio",
    "dataRescisao",
    rank() over (partition by imovel_id order by id) as rnk
  from
    contract
  where
  	status != 'Cancelado'
)
select
	a.id,
    c.id,
    c.rnk ,
    min(a.status_date)
      filter (
      	where
          a.published = 1
          and (
          	c.id is null
            or a.status_date >= coalesce(c."dataRescisaoContratoAnterior", a.status_date)
	      )
      )
    as dt_first_publication

  from
	imovel_status_history a
  left join
  (
    select
      c.id,
      c.imovel_id,
      c."dataInicio",
      c."dataRescisao",
      c2.id as "idContratoAnterior",
      c2."dataRescisao" as "dataRescisaoContratoAnterior",
      c.rnk
    from
      c
    left join
      c c2
      on c2.imovel_id = c.imovel_id
      and c2.rnk = c.rnk-1
  ) c
    on c.imovel_id = a.id
  where
  	a.id = 892779727
  group by
	a.id,
    c.id,
    c.rnk
  order by
  	1,2