DROP TABLE IF EXISTS public.fact_supply_potential_listings_temp;
CREATE TABLE public.fact_supply_potential_listings_temp (
  cap_id bigint,
  ods_id bigint,
  dt_last_updated timestamp without time zone,
  dt_created timestamp without time zone,
  dt_updated timestamp without time zone,
  sk_attibution integer,
  attribution_uuid character varying(255),
  dt_contact timestamp without time zone,
  dt_lead_and_prospect timestamp without time zone,
  dt_first_inside_sales_contact timestamp without time zone,
  dt_qualified timestamp without time zone,
  dt_opportunity timestamp without time zone,
  dt_first_publication timestamp without time zone,
  dt_listing_publication timestamp without time zone,
  dt_contract timestamp without time zone,
  is_first_publication boolean,
  sk_contact_date integer,
  sk_lead_and_prospect_date integer,
  sk_first_inside_sales_contact_date integer,
  sk_qualified_date integer,
  sk_opportunity_date integer,
  sk_first_publication_date integer,
  sk_listing_publication_date integer,
  sk_contract_date integer,
  sk_lead integer,
  sk_property text,
  sk_contract integer,
  renting_value integer,
  sk_photographer integer,
  sk_owner integer,
  sk_rep integer,
  rep_area character varying(100),
  count_employees_outbound integer,
  sk_manager integer,
  admin_type character varying(255),
  property_attribution_agent character varying(255),
  lead_type character varying(255),
  contact_to_lead_diff_minutes integer,
  lead_and_prospect_to_qualified_diff_minutes integer,
  qualified_to_opportunity_diff_minutes integer,
  opportunity_to_listing_diff_minutes integer,
  listing_to_1stcontract_diff_minutes integer,
  contact_to_listing_diff_minutes integer,
  contact_to_1stcontract_diff_minutes integer,
  affiliate_listing_value numeric,
  affiliate_renting_value numeric,
  cac_affiliate numeric,
  listing_month_distinct_count bigint,
  listing_day_distinct_count bigint,
  listing_month_times bigint,
  listing_day_times bigint,
  self_service_listing_day_times bigint,
  contact_month_distinct_count bigint,
  contact_day_distinct_count bigint,
  contact_month_times bigint,
  contact_day_times bigint,
  self_service_contact_day_times bigint,
  opportunity_month_distinct_count bigint,
  opportunity_day_distinct_count bigint,
  opportunity_month_times bigint,
  opportunity_day_times bigint,
  self_service_opportunity_day_times bigint,
  photo_month_cost numeric,
  inside_sales_month_cost numeric,
  facebook_mkt_day_cost numeric,
  facebook_appinstall_day_cost numeric,
  facebook_total_day_cost numeric,
  google_adwords_day_cost numeric,
  marketing_day_cost numeric,
  fb_self_service_marketing_cost numeric,
  fb_marketing_cost numeric,
  google_marketing_cost numeric,
  cac_photo numeric,
  cac_inside_sales numeric,
  cac_marketing numeric,
  load_timestamp timestamp without time zone
)