DROP TABLE IF EXISTS charging;
CREATE TABLE charging (
  "id" bigint NOT NULL,
  "dataInquilinoPagou" datetime DEFAULT NULL,
  "dataPagarProprietario" date DEFAULT NULL,
  "dataProprietarioFoiPago" datetime DEFAULT NULL,
  "fimPeriodo" date DEFAULT NULL,
  "inicioPeriodo" date DEFAULT NULL,
  "inquilinoPagou" smallint DEFAULT NULL,
  "proprietarioFoiPago" smallint DEFAULT NULL,
  "status" varchar(255) DEFAULT NULL,
  "vencimentoBoleto" date DEFAULT NULL,
  "contrato_id" bigint DEFAULT NULL,
  "valorTotalInquilino" decimal(14,4) DEFAULT NULL,
  "valorTotalProprietario" decimal(14,4) DEFAULT NULL,
  "dataFechamento" date NOT NULL,
  "boletoClone" varchar(255) DEFAULT NULL,
  "criadoEm" datetime DEFAULT NULL,
  "valorRecebido" decimal(14,4) DEFAULT NULL,
  "gerarNF" smallint NOT NULL,
  "atualizadoEm" datetime DEFAULT NULL,
  "regerarDespesas" smallint DEFAULT NULL,
  "dataAutoEnvioDemonstrativoProp" datetime DEFAULT NULL,
  "linhaDigitavel" varchar(60) DEFAULT NULL,
  "dataEnvioSmsLembrete" datetime DEFAULT NULL,
  PRIMARY KEY ("id")
)