DROP TABLE IF EXISTS public.contract;
CREATE TABLE public.contract (
  id INTEGER NOT NULL,
  "emailFatura" VARCHAR(100),
  "emailProprietario" VARCHAR(100),
  "valorAluguel" DOUBLE PRECISION,
  "numImovel" INTEGER NOT NULL,
  "diaMesCobranca" INTEGER,
  garantia VARCHAR(50) NOT NULL,
  tipo VARCHAR(20) NOT NULL,
  status VARCHAR(20) NOT NULL,
  "dataCalculoComissaoAfiliado" TIMESTAMP,
  "dataCalculoComissaoCorretor" TIMESTAMP,
  "dataInicio" DATE,
  "dataAssinado" TIMESTAMP,
  "dataMinutaAprovada" TIMESTAMP,
  "dataEntrada" DATE,
  "dataFimContratoPrevisto" DATE,
  "dataRescisao" DATE,
  "nomeBanco" VARCHAR(50),
  "paganteCondominio" VARCHAR(100),
  "paganteIptu" VARCHAR(100),
  "responsavelCondominio" VARCHAR(100),
  "responsavelIptu" VARCHAR(100),
  "seguroFianca_parcelas" INTEGER,
  "seguroFianca_valor" DOUBLE PRECISION,
  "seguroResidencial_parcelas" INTEGER,
  "seguroResidencial_valor" DOUBLE PRECISION,
  "taxaComissaoPrimeiroAluguel" DOUBLE PRECISION NOT NULL,
  "valorCondominio" DOUBLE PRECISION,
  "valorIptu" DOUBLE PRECISION,
  "tipoAssinatura" VARCHAR(50),
  "dataContratoEletronicoEnviado" TIMESTAMP,
  "statusClosing" VARCHAR(50),
  "contratoAssinado" VARCHAR(50),
  "googleDriveId" VARCHAR(100),
  "tokenESignatureLocacao" TEXT,
  "tokenESignatureAdm" TEXT,
  "contratoAdministracaoAssinado" VARCHAR(50),
  "contratoAutorizacaoEntradaAssinado" VARCHAR(50),
  "contratoLocacaoAssinado" VARCHAR(50),
  "dataTrocaTitularidade" VARCHAR(50),
  proposta_id integer,
  imovel_id integer,
  "criadoEm" TIMESTAMP NOT NULL,
  "atualizadoEm" TIMESTAMP NOT NULL
)
WITH (oids = false);