DROP TABLE IF EXISTS public.ga_page_based_kpis;

CREATE TABLE public.ga_page_based_kpis (
  date VARCHAR(8) NOT NULL,
  "pagePath" VARCHAR NOT NULL,
  "campaign" VARCHAR NOT NULL,
  "sourceMedium" VARCHAR NOT NULL,
  "deviceCategory" VARCHAR(20) NOT NULL,
  users VARCHAR(30) NOT NULL,
  sessions VARCHAR(30) NOT NULL,
  bounces VARCHAR(30) NOT NULL,
  "bounceRate" VARCHAR(30) NOT NULL,
  pageviews VARCHAR(30) NOT NULL,
  "uniquePageviews" VARCHAR(30) NOT NULL,
  exits VARCHAR(30) NOT NULL,
  "exitRate" VARCHAR(30) NOT NULL,
  "timeOnScreen" VARCHAR(30) NOT NULL,
  "avgTimeOnPage" VARCHAR(30) NOT NULL,
  account_name VARCHAR(100) NOT NULL,
  property_name VARCHAR(100) NOT NULL,
  profile_name VARCHAR(100) NOT NULL,
  processed_date timestamp NULL
)
WITH (oids = false);

-- ALTER TABLE public.ga_page_based_kpis ADD COLUMN processed_date TIMESTAMP WITHOUT TIME ZONE;