DROP TABLE IF EXISTS imovel_status_history ;
CREATE TABLE imovel_status_history (
  "id" BIGINT NOT NULL,
  "aluguel" INTEGER DEFAULT NULL,
  "andar" INTEGER DEFAULT NULL,
  "andaresPredio" INTEGER DEFAULT NULL,
  "aptosPorAndar" INTEGER DEFAULT NULL,
  "areaTotal" INTEGER DEFAULT NULL,
  "bairro" VARCHAR(200) DEFAULT NULL,
  "cep" VARCHAR(200) DEFAULT NULL,
  "cidade" VARCHAR(200) DEFAULT NULL,
  "complemento" VARCHAR(200) DEFAULT NULL,
  "condominio" INTEGER DEFAULT NULL,
  "dataConstrucao" VARCHAR(255) DEFAULT NULL,
  "dataParaMudar" TIMESTAMP DEFAULT NULL,
  "descricaoImovel" TEXT DEFAULT NULL,
  "detalhesMobilia" VARCHAR(255) DEFAULT NULL,
  "elevador" SMALLINT DEFAULT NULL,
  "emailContato" VARCHAR(200) DEFAULT NULL,
  "emailSessaoFotos" VARCHAR(200) DEFAULT NULL,
  "endereco" VARCHAR(200) DEFAULT NULL,
  "estadoConservacao" VARCHAR(255) DEFAULT NULL,
  "fotografoPreencheDados" VARCHAR(1) DEFAULT NULL,
  "iptu" INTEGER DEFAULT NULL,
  "lat" DECIMAL(10, 7) DEFAULT NULL,
  "lng" DECIMAL(10, 7) DEFAULT NULL,
  "mobiliado" VARCHAR(1) DEFAULT NULL,
  "nivelAcabamento" VARCHAR(255) DEFAULT NULL,
  "numero" VARCHAR(200) DEFAULT NULL,
  "numeroBanheiros" INTEGER DEFAULT NULL,
  "numeroQuartos" INTEGER DEFAULT NULL,
  "numeroSuites" INTEGER DEFAULT NULL,
  "numeroVagas" INTEGER DEFAULT NULL,
  "porcentagemCadastroCompleta" INTEGER DEFAULT NULL,
  "prefereEmailSessaoFotos" VARCHAR(2) DEFAULT NULL,
  "status" VARCHAR(255) DEFAULT NULL,
  "telefoneContato1" VARCHAR(20) DEFAULT NULL,
  "telefoneContato2" VARCHAR(20) DEFAULT NULL,
  "telefoneSessaoFotos" VARCHAR(20) DEFAULT NULL,
  "tipo" VARCHAR(255) DEFAULT NULL,
  "tipoPorteiro" VARCHAR(255) DEFAULT NULL,
  "tipoVagas" VARCHAR(255) DEFAULT NULL,
  "verificado" VARCHAR(1) DEFAULT NULL,
  "estado_id" BIGINT DEFAULT NULL,
  "usuario_id" BIGINT DEFAULT NULL,
  "codigoPromocao" VARCHAR(50) DEFAULT NULL,
  "cotarSeguro" VARCHAR(1) DEFAULT NULL,
  "valorTotal" INTEGER DEFAULT NULL,
  "expirationDate" TIMESTAMP DEFAULT NULL,
  "firstPublication" TIMESTAMP DEFAULT NULL,
  "dadosCorretor_id" BIGINT DEFAULT NULL,
  "notificacaoAnuncioIncompletoProprietario" SMALLINT DEFAULT NULL,
  "notificacaoAnuncioIncompletoAdmin" SMALLINT DEFAULT NULL,
  "dataCriacao" TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
  "shortUrl" VARCHAR(64) DEFAULT NULL,
  "valorSeguro" INTEGER DEFAULT NULL,
  "instrucoesAgendamento" TEXT DEFAULT NULL,
  "planoAceito" VARCHAR(255) DEFAULT NULL,
  "sugerirReajusteDePreco" VARCHAR(1) DEFAULT NULL,
  "permitePlacaAlugaSe" VARCHAR(1) DEFAULT NULL,
  "descricaoLead" TEXT DEFAULT NULL,
  "prioridadeDestaqueClassificado" INTEGER DEFAULT NULL,
  "corretorAmigo" TEXT DEFAULT NULL,
  "porteiroAmigo" TEXT DEFAULT NULL,
  "dadosAdministradoraCondominio" VARCHAR(200) DEFAULT NULL,
  "referencias" TEXT DEFAULT NULL,
  "condominioIncluso" VARCHAR(1) DEFAULT NULL,
  "coordenadasManuais" VARCHAR(1) DEFAULT NULL,
  "iptuIncluso" VARCHAR(1) DEFAULT NULL,
  "followUpProprietarioSubirFotos" VARCHAR(1) DEFAULT NULL,
  "dataPrimeiroVerificado" TIMESTAMP DEFAULT NULL,
  "tipoColisaoLead" VARCHAR(255) DEFAULT NULL,
  "calculoPagamentoLeadCorretor" TIMESTAMP DEFAULT NULL,
  "usuarioQueCadastrou_id" BIGINT DEFAULT NULL,
  "nomeImagemCapa" VARCHAR(200) DEFAULT NULL,
  "geoHash" VARCHAR(16) DEFAULT NULL,
  "tipoAnuncio" VARCHAR(255) DEFAULT NULL,
  "infosAdmin" TEXT DEFAULT NULL,
  "infosAdminInterna" TEXT DEFAULT NULL,
  "historicoAgendamentoFotos" TEXT DEFAULT NULL,
  "calculoPagamentoLeadAfiliado" TIMESTAMP DEFAULT NULL,
  "dadosAfiliado_id" BIGINT DEFAULT NULL,
  "possuiBanheiroServico" VARCHAR(1) DEFAULT NULL,
  "possuiQuartoServico" VARCHAR(1) DEFAULT NULL,
  "bairroPadrao" VARCHAR(200) DEFAULT NULL,
  "salesforceId" VARCHAR(250) DEFAULT NULL,
  "tipoCondominio" VARCHAR(255) DEFAULT NULL,
  "tipoIptu" VARCHAR(255) DEFAULT NULL,
  "disponivelAte" DATE DEFAULT NULL,
  "flagVerificarPrecoComparandoComMedia" VARCHAR(2) DEFAULT NULL,
  "sempreconsultarproprietariovisita" SMALLINT DEFAULT NULL,
  "codCartografico" VARCHAR(255) DEFAULT NULL,
  "codConsumidorAgua" VARCHAR(255) DEFAULT NULL,
  "codConsumidorEnergia" VARCHAR(255) DEFAULT NULL,
  "codContribuinte" VARCHAR(255) DEFAULT NULL,
  "codigoRefIptu" VARCHAR(255) DEFAULT NULL,
  "emailPublicacaoProprietarioEnviado" VARCHAR(2) DEFAULT NULL,
  "statusConversaoImovel" VARCHAR(255) DEFAULT NULL,
  "matricula" VARCHAR(255) DEFAULT NULL,
  "ultimoEmailDeConfirmacaoEnviado" TIMESTAMP DEFAULT NULL,
  "latlng" TEXT DEFAULT NULL,
  "ultimoUpdateIndice" TIMESTAMP DEFAULT NULL,
  "regiao_id" BIGINT DEFAULT NULL,
  "titulo" VARCHAR(255) DEFAULT NULL,
  "atualizadoEm" TIMESTAMP DEFAULT NULL,
  "condominioPai_id" BIGINT DEFAULT NULL,
  "suspensoAte" TIMESTAMP DEFAULT NULL,
  "estacaoMaisProxima_id" BIGINT DEFAULT NULL,
  "externalId" VARCHAR(255) DEFAULT NULL,
  "emNegociacao" SMALLINT DEFAULT NULL,
  "emNegociacaoExterna" SMALLINT DEFAULT NULL,
  "entrouEmNegociacaoExterna" TIMESTAMP DEFAULT NULL,
  "motivoRecusaCardiff" TEXT DEFAULT NULL,
  "recaptadoEm" TIMESTAMP DEFAULT NULL,
  "jobFotografoPendente" SMALLINT DEFAULT NULL,
  "requisitouFotosProfissionais" SMALLINT DEFAULT NULL,
  "latBkp" DECIMAL(10,7) DEFAULT NULL,
  "lngBkp" DECIMAL(10,7) DEFAULT NULL,
  "lastConfirmationAvailability" TIMESTAMP DEFAULT NULL,
  "cartorio" VARCHAR(255) DEFAULT NULL,
  "penalizationScore" INTEGER DEFAULT NULL,
  "receberCopiaContratoPadrao" SMALLINT DEFAULT NULL,
  "rankScore" INTEGER DEFAULT NULL,
  "ultimaPublicacao" TIMESTAMP DEFAULT NULL,
  "confirmadoInformacoesVisita" VARCHAR(10) DEFAULT NULL,
  "homeownersInsuranceValue" DECIMAL(14,4),
  "infoPagamentoCondominio_id" BIGINT,
  "REV" INTEGER NOT NULL,
  date_status_changed TIMESTAMP NULL,
  "datePublication" TIMESTAMP NULL,
  published SMALLINT NOT NULL,
  status_time TIMESTAMP NOT NULL,
  status_date DATE NOT NULL,
  status_history VARCHAR(255),
  current_status VARCHAR(255),
  dt_timestamp timestamp
)
;
DROP TABLE IF EXISTS stg.imovel_status_history ;
CREATE TABLE stg.imovel_status_history (
  "id" BIGINT NOT NULL,
  "aluguel" INTEGER DEFAULT NULL,
  "andar" INTEGER DEFAULT NULL,
  "andaresPredio" INTEGER DEFAULT NULL,
  "aptosPorAndar" INTEGER DEFAULT NULL,
  "areaTotal" INTEGER DEFAULT NULL,
  "bairro" VARCHAR(200) DEFAULT NULL,
  "cep" VARCHAR(200) DEFAULT NULL,
  "cidade" VARCHAR(200) DEFAULT NULL,
  "complemento" VARCHAR(200) DEFAULT NULL,
  "condominio" INTEGER DEFAULT NULL,
  "dataConstrucao" VARCHAR(255) DEFAULT NULL,
  "dataParaMudar" TIMESTAMP DEFAULT NULL,
  "descricaoImovel" TEXT DEFAULT NULL,
  "detalhesMobilia" VARCHAR(255) DEFAULT NULL,
  "elevador" SMALLINT DEFAULT NULL,
  "emailContato" VARCHAR(200) DEFAULT NULL,
  "emailSessaoFotos" VARCHAR(200) DEFAULT NULL,
  "endereco" VARCHAR(200) DEFAULT NULL,
  "estadoConservacao" VARCHAR(255) DEFAULT NULL,
  "fotografoPreencheDados" VARCHAR(1) DEFAULT NULL,
  "iptu" INTEGER DEFAULT NULL,
  "lat" DECIMAL(10, 7) DEFAULT NULL,
  "lng" DECIMAL(10, 7) DEFAULT NULL,
  "mobiliado" VARCHAR(1) DEFAULT NULL,
  "nivelAcabamento" VARCHAR(255) DEFAULT NULL,
  "numero" VARCHAR(200) DEFAULT NULL,
  "numeroBanheiros" INTEGER DEFAULT NULL,
  "numeroQuartos" INTEGER DEFAULT NULL,
  "numeroSuites" INTEGER DEFAULT NULL,
  "numeroVagas" INTEGER DEFAULT NULL,
  "porcentagemCadastroCompleta" INTEGER DEFAULT NULL,
  "prefereEmailSessaoFotos" VARCHAR(2) DEFAULT NULL,
  "status" VARCHAR(255) DEFAULT NULL,
  "telefoneContato1" VARCHAR(20) DEFAULT NULL,
  "telefoneContato2" VARCHAR(20) DEFAULT NULL,
  "telefoneSessaoFotos" VARCHAR(20) DEFAULT NULL,
  "tipo" VARCHAR(255) DEFAULT NULL,
  "tipoPorteiro" VARCHAR(255) DEFAULT NULL,
  "tipoVagas" VARCHAR(255) DEFAULT NULL,
  "verificado" VARCHAR(1) DEFAULT NULL,
  "estado_id" BIGINT DEFAULT NULL,
  "usuario_id" BIGINT DEFAULT NULL,
  "codigoPromocao" VARCHAR(50) DEFAULT NULL,
  "cotarSeguro" VARCHAR(1) DEFAULT NULL,
  "valorTotal" INTEGER DEFAULT NULL,
  "expirationDate" TIMESTAMP DEFAULT NULL,
  "firstPublication" TIMESTAMP DEFAULT NULL,
  "dadosCorretor_id" BIGINT DEFAULT NULL,
  "notificacaoAnuncioIncompletoProprietario" SMALLINT DEFAULT NULL,
  "notificacaoAnuncioIncompletoAdmin" SMALLINT DEFAULT NULL,
  "dataCriacao" TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
  "shortUrl" VARCHAR(64) DEFAULT NULL,
  "valorSeguro" INTEGER DEFAULT NULL,
  "instrucoesAgendamento" TEXT DEFAULT NULL,
  "planoAceito" VARCHAR(255) DEFAULT NULL,
  "sugerirReajusteDePreco" VARCHAR(1) DEFAULT NULL,
  "permitePlacaAlugaSe" VARCHAR(1) DEFAULT NULL,
  "descricaoLead" TEXT DEFAULT NULL,
  "prioridadeDestaqueClassificado" INTEGER DEFAULT NULL,
  "corretorAmigo" TEXT DEFAULT NULL,
  "porteiroAmigo" TEXT DEFAULT NULL,
  "dadosAdministradoraCondominio" VARCHAR(200) DEFAULT NULL,
  "referencias" TEXT DEFAULT NULL,
  "condominioIncluso" VARCHAR(1) DEFAULT NULL,
  "coordenadasManuais" VARCHAR(1) DEFAULT NULL,
  "iptuIncluso" VARCHAR(1) DEFAULT NULL,
  "followUpProprietarioSubirFotos" VARCHAR(1) DEFAULT NULL,
  "dataPrimeiroVerificado" TIMESTAMP DEFAULT NULL,
  "tipoColisaoLead" VARCHAR(255) DEFAULT NULL,
  "calculoPagamentoLeadCorretor" TIMESTAMP DEFAULT NULL,
  "usuarioQueCadastrou_id" BIGINT DEFAULT NULL,
  "nomeImagemCapa" VARCHAR(200) DEFAULT NULL,
  "geoHash" VARCHAR(16) DEFAULT NULL,
  "tipoAnuncio" VARCHAR(255) DEFAULT NULL,
  "infosAdmin" TEXT DEFAULT NULL,
  "infosAdminInterna" TEXT DEFAULT NULL,
  "historicoAgendamentoFotos" TEXT DEFAULT NULL,
  "calculoPagamentoLeadAfiliado" TIMESTAMP DEFAULT NULL,
  "dadosAfiliado_id" BIGINT DEFAULT NULL,
  "possuiBanheiroServico" VARCHAR(1) DEFAULT NULL,
  "possuiQuartoServico" VARCHAR(1) DEFAULT NULL,
  "bairroPadrao" VARCHAR(200) DEFAULT NULL,
  "salesforceId" VARCHAR(250) DEFAULT NULL,
  "tipoCondominio" VARCHAR(255) DEFAULT NULL,
  "tipoIptu" VARCHAR(255) DEFAULT NULL,
  "disponivelAte" DATE DEFAULT NULL,
  "flagVerificarPrecoComparandoComMedia" VARCHAR(2) DEFAULT NULL,
  "sempreconsultarproprietariovisita" SMALLINT DEFAULT NULL,
  "codCartografico" VARCHAR(255) DEFAULT NULL,
  "codConsumidorAgua" VARCHAR(255) DEFAULT NULL,
  "codConsumidorEnergia" VARCHAR(255) DEFAULT NULL,
  "codContribuinte" VARCHAR(255) DEFAULT NULL,
  "codigoRefIptu" VARCHAR(255) DEFAULT NULL,
  "emailPublicacaoProprietarioEnviado" VARCHAR(2) DEFAULT NULL,
  "statusConversaoImovel" VARCHAR(255) DEFAULT NULL,
  "matricula" VARCHAR(255) DEFAULT NULL,
  "ultimoEmailDeConfirmacaoEnviado" TIMESTAMP DEFAULT NULL,
  "latlng" TEXT DEFAULT NULL,
  "ultimoUpdateIndice" TIMESTAMP DEFAULT NULL,
  "regiao_id" BIGINT DEFAULT NULL,
  "titulo" VARCHAR(255) DEFAULT NULL,
  "atualizadoEm" TIMESTAMP DEFAULT NULL,
  "condominioPai_id" BIGINT DEFAULT NULL,
  "suspensoAte" TIMESTAMP DEFAULT NULL,
  "estacaoMaisProxima_id" BIGINT DEFAULT NULL,
  "externalId" VARCHAR(255) DEFAULT NULL,
  "emNegociacao" SMALLINT DEFAULT NULL,
  "emNegociacaoExterna" SMALLINT DEFAULT NULL,
  "entrouEmNegociacaoExterna" TIMESTAMP DEFAULT NULL,
  "motivoRecusaCardiff" TEXT DEFAULT NULL,
  "recaptadoEm" TIMESTAMP DEFAULT NULL,
  "jobFotografoPendente" SMALLINT DEFAULT NULL,
  "requisitouFotosProfissionais" SMALLINT DEFAULT NULL,
  "latBkp" DECIMAL(10,7) DEFAULT NULL,
  "lngBkp" DECIMAL(10,7) DEFAULT NULL,
  "lastConfirmationAvailability" TIMESTAMP DEFAULT NULL,
  "cartorio" VARCHAR(255) DEFAULT NULL,
  "penalizationScore" INTEGER DEFAULT NULL,
  "receberCopiaContratoPadrao" SMALLINT DEFAULT NULL,
  "rankScore" INTEGER DEFAULT NULL,
  "ultimaPublicacao" TIMESTAMP DEFAULT NULL,
  "confirmadoInformacoesVisita" VARCHAR(10) DEFAULT NULL,
  "homeownersInsuranceValue" DECIMAL(14,4),
  "infoPagamentoCondominio_id" BIGINT,
  "REV" INTEGER NOT NULL,
  date_status_changed TIMESTAMP NULL,
  "datePublication" TIMESTAMP NULL,
  published SMALLINT NOT NULL,
  status_time TIMESTAMP NOT NULL,
  status_date DATE NOT NULL,
  status_history VARCHAR(255),
  current_status VARCHAR(255),
  dt_timestamp timestamp
)