DROP TABLE IF EXISTS public.imovel ;
CREATE TABLE public.imovel (
  id BIGINT DEFAULT '0'::bigint NOT NULL,
  aluguel INTEGER,
  bairro VARCHAR(200) DEFAULT NULL::character varying,
  cep VARCHAR(200) DEFAULT NULL::character varying,
  cidade VARCHAR(200) DEFAULT NULL::character varying,
  complemento VARCHAR(200) DEFAULT NULL::character varying,
  condominio INTEGER,
  data_construcao VARCHAR(255) DEFAULT NULL::character varying,
  elevador SMALLINT,
  email_contato VARCHAR(200) DEFAULT NULL::character varying,
  email_sessao_fotos VARCHAR(200) DEFAULT NULL::character varying,
  endereco VARCHAR(200) DEFAULT NULL::character varying,
  estado_conservacao VARCHAR(255) DEFAULT NULL::character varying,
  fotografo_preenche_dados INTEGER,
  iptu INTEGER,
  lat NUMERIC(10,7) DEFAULT NULL::numeric,
  lng NUMERIC(10,7) DEFAULT NULL::numeric,
  mobiliado INTEGER,
  nivel_acabamento VARCHAR(255) DEFAULT NULL::character varying,
  numero VARCHAR(200) DEFAULT NULL::character varying,
  numero_banheiros INTEGER,
  numero_quartos INTEGER,
  numero_suites INTEGER,
  numero_vagas INTEGER,
  porcentagem_cadastro_completa INTEGER,
  prefere_email_sessao_fotos INTEGER,
  status VARCHAR(255) DEFAULT NULL::character varying,
  tel_contato1 VARCHAR(20) DEFAULT NULL::character varying,
  tel_contato2 VARCHAR(20) DEFAULT NULL::character varying,
  tel_sessao_fotos VARCHAR(20) DEFAULT NULL::character varying,
  tipo VARCHAR(255) DEFAULT NULL::character varying,
  tipo_porteiro VARCHAR(255) DEFAULT NULL::character varying,
  tipo_vagas VARCHAR(255) DEFAULT NULL::character varying,
  verificado INTEGER,
  usuario_id BIGINT,
  codigo_promocao VARCHAR(50) DEFAULT NULL::character varying,
  cotar_seguro SMALLINT,
  valor_total INTEGER,
  expiration_date TIMESTAMP WITHOUT TIME ZONE,
  first_publication TIMESTAMP WITHOUT TIME ZONE,
  notificacao_anuncio_incompleto_proprietario SMALLINT,
  notificacao_anuncio_incompleto_admin SMALLINT,
  short_url VARCHAR(64) DEFAULT NULL::character varying,
  valor_seguro INTEGER,
  instrucoes_agendamento TEXT,
  plano_aceito VARCHAR(255) DEFAULT NULL::character varying,
  sugerir_reajuste_de_preco INTEGER,
  permite_placa_aluga_se INTEGER NOT NULL,
  descricao_lead TEXT,
  prioridade_destaque_classificado INTEGER,
  corretor_amigo TEXT,
  porteiro_amigo TEXT,
  dados_administradora_condominio VARCHAR(200) DEFAULT NULL::character varying,
  referencias TEXT,
  condominio_incluso INTEGER,
  coordenadas_manuais INTEGER,
  iptu_incluso INTEGER,
  followup_proprietario_subir_fotos INTEGER,
  data_primeiro_verificado TIMESTAMP WITHOUT TIME ZONE,
  tipo_colisao_lead VARCHAR(255) DEFAULT NULL::character varying,
  calculo_pagamento_lead_corretor TIMESTAMP WITHOUT TIME ZONE,
  nome_imagem_capa VARCHAR(200) DEFAULT NULL::character varying,
  geo_hash VARCHAR(16) DEFAULT NULL::character varying,
  tipo_anuncio VARCHAR(255) DEFAULT NULL::character varying,
  infos_admin TEXT,
  infos_admin_interna TEXT,
  historico_agendamento_fotos TEXT,
  calculo_pagamento_lead_afiliado TIMESTAMP WITHOUT TIME ZONE,
  possui_banheiro_servico INTEGER,
  possui_quarto_servico INTEGER,
  bairro_padrao VARCHAR(200) DEFAULT NULL::character varying,
  tipo_condominio VARCHAR(255) DEFAULT NULL::character varying,
  tipo_iptu VARCHAR(255) DEFAULT NULL::character varying,
  disponivel_ate DATE,
  flag_verificar_preco_comparando_com_media INTEGER,
  sempre_consultar_proprietario_visita SMALLINT,
  email_publicacao_proprietario_enviado INTEGER,
  status_conversao_imovel VARCHAR(255) DEFAULT NULL::character varying,
  matricula VARCHAR(255) DEFAULT NULL::character varying,
  ultimo_email_de_confirmacao_enviado TIMESTAMP WITHOUT TIME ZONE,
  latlng TEXT,
  ultimo_update_indice TIMESTAMP WITHOUT TIME ZONE,
  titulo VARCHAR(255) DEFAULT NULL::character varying,
  suspenso_ate TIMESTAMP WITHOUT TIME ZONE,
  external_id VARCHAR(255) DEFAULT NULL::character varying,
  em_negociacao SMALLINT,
  em_negociacao_externa SMALLINT,
  entrou_em_negociacao_externa TIMESTAMP WITHOUT TIME ZONE,
  motivo_recusa_cardiff TEXT,
  recaptado_em TIMESTAMP WITHOUT TIME ZONE,
  job_fotografo_pendente SMALLINT,
  requisitou_fotos_profissionais SMALLINT,
  last_confirmation_availability TIMESTAMP WITHOUT TIME ZONE,
  cartorio VARCHAR(255) DEFAULT NULL::character varying,
  penalization_score INTEGER,
  receber_copia_contrato_padrao SMALLINT,
  rank_score INTEGER,
  ultima_publicacao TIMESTAMP WITHOUT TIME ZONE,
  confirmado_informacoes_visita INTEGER,
  estado_abreviacao VARCHAR(200) DEFAULT NULL::character varying,
  estado_nome VARCHAR(200) DEFAULT NULL::character varying,
  dados_afiliado_tipo_afiliado VARCHAR(255) DEFAULT NULL::character varying,
  dados_afiliado_inicio_atuacao TIMESTAMP WITHOUT TIME ZONE,
  dados_afiliado_cidade_atuacao VARCHAR(100) DEFAULT NULL::character varying,
  regiao_cidade VARCHAR(200) DEFAULT NULL::character varying,
  regiao_macro VARCHAR(200) DEFAULT NULL::character varying,
  regiao_sub VARCHAR(200) DEFAULT NULL::character varying,
  regiao_id INTEGER,
  condominio_nome VARCHAR(200) DEFAULT NULL::character varying,
  local_nome VARCHAR(255),
  corretor_nome VARCHAR(250) DEFAULT NULL::character varying,
  etapa_data_web_caracteristicas TIMESTAMP WITHOUT TIME ZONE,
  etapa_data_web_copiarmaisdados TIMESTAMP WITHOUT TIME ZONE,
  etapa_data_web_fotos TIMESTAMP WITHOUT TIME ZONE,
  etapa_data_web_uploadfotos TIMESTAMP WITHOUT TIME ZONE,
  etapa_data_web_valores TIMESTAMP WITHOUT TIME ZONE,
  etapa_data_mob_detalhes TIMESTAMP WITHOUT TIME ZONE,
  etapa_data_mob_endereco TIMESTAMP WITHOUT TIME ZONE,
  etapa_data_mob_fotos TIMESTAMP WITHOUT TIME ZONE,
  etapa_data_mob_preco TIMESTAMP WITHOUT TIME ZONE,
  etapa_data_mob_titulo TIMESTAMP WITHOUT TIME ZONE,
  etapa_data_mob_visitas TIMESTAMP WITHOUT TIME ZONE,
  etapa_data_mob_vistoria TIMESTAMP WITHOUT TIME ZONE,
  informacoes_visita VARCHAR(200) DEFAULT NULL::character varying,
  data_criacao TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
  atualizado_em TIMESTAMP WITHOUT TIME ZONE
)
WITH (oids = false);
