DROP TABLE IF EXISTS public.imovel_status_full_history;
CREATE TABLE public.imovel_status_full_history (
  date DATE,
  id BIGINT,
  aluguel INTEGER,
  andar INTEGER,
  "andaresPredio" INTEGER,
  "aptosPorAndar" INTEGER,
  "areaTotal" INTEGER,
  bairro VARCHAR(200),
  cep VARCHAR(200),
  cidade VARCHAR(200),
  complemento VARCHAR(200),
  condominio INTEGER,
  "dataConstrucao" VARCHAR(255),
  "dataParaMudar" TIMESTAMP WITHOUT TIME ZONE,
  "descricaoImovel" TEXT,
  "detalhesMobilia" VARCHAR(255),
  elevador SMALLINT,
  "emailContato" VARCHAR(200),
  "emailSessaoFotos" VARCHAR(200),
  endereco VARCHAR(200),
  "estadoConservacao" VARCHAR(255),
  "fotografoPreencheDados" VARCHAR(1),
  iptu INTEGER,
  lat NUMERIC(10,7),
  lng NUMERIC(10,7),
  mobiliado VARCHAR(1),
  "nivelAcabamento" VARCHAR(255),
  numero VARCHAR(200),
  "numeroBanheiros" INTEGER,
  "numeroQuartos" INTEGER,
  "numeroSuites" INTEGER,
  "numeroVagas" INTEGER,
  "porcentagemCadastroCompleta" INTEGER,
  "prefereEmailSessaoFotos" VARCHAR(2),
  status VARCHAR(255),
  "telefoneContato1" VARCHAR(20),
  "telefoneContato2" VARCHAR(20),
  "telefoneSessaoFotos" VARCHAR(20),
  tipo VARCHAR(255),
  "tipoPorteiro" VARCHAR(255),
  "tipoVagas" VARCHAR(255),
  verificado VARCHAR(1),
  estado_id BIGINT,
  usuario_id BIGINT,
  "codigoPromocao" VARCHAR(50),
  "cotarSeguro" VARCHAR(1),
  "valorTotal" INTEGER,
  "expirationDate" TIMESTAMP WITHOUT TIME ZONE,
  "firstPublication" TIMESTAMP WITHOUT TIME ZONE,
  "dadosCorretor_id" BIGINT,
  "notificacaoAnuncioIncompletoProprietario" SMALLINT,
  "notificacaoAnuncioIncompletoAdmin" SMALLINT,
  "dataCriacao" TIMESTAMP WITHOUT TIME ZONE,
  "shortUrl" VARCHAR(64),
  "valorSeguro" INTEGER,
  "instrucoesAgendamento" TEXT,
  "planoAceito" VARCHAR(255),
  "sugerirReajusteDePreco" VARCHAR(1),
  "permitePlacaAlugaSe" VARCHAR(1),
  "descricaoLead" TEXT,
  "prioridadeDestaqueClassificado" INTEGER,
  "corretorAmigo" TEXT,
  "porteiroAmigo" TEXT,
  "dadosAdministradoraCondominio" VARCHAR(200),
  referencias TEXT,
  "condominioIncluso" VARCHAR(1),
  "coordenadasManuais" VARCHAR(1),
  "iptuIncluso" VARCHAR(1),
  "followUpProprietarioSubirFotos" VARCHAR(1),
  "dataPrimeiroVerificado" TIMESTAMP WITHOUT TIME ZONE,
  "tipoColisaoLead" VARCHAR(255),
  "calculoPagamentoLeadCorretor" TIMESTAMP WITHOUT TIME ZONE,
  "usuarioQueCadastrou_id" BIGINT,
  "nomeImagemCapa" VARCHAR(200),
  "geoHash" VARCHAR(16),
  "tipoAnuncio" VARCHAR(255),
  "infosAdmin" TEXT,
  "infosAdminInterna" TEXT,
  "historicoAgendamentoFotos" TEXT,
  "calculoPagamentoLeadAfiliado" TIMESTAMP WITHOUT TIME ZONE,
  "dadosAfiliado_id" BIGINT,
  "possuiBanheiroServico" VARCHAR(1),
  "possuiQuartoServico" VARCHAR(1),
  "bairroPadrao" VARCHAR(200),
  "salesforceId" VARCHAR(250),
  "tipoCondominio" VARCHAR(255),
  "tipoIptu" VARCHAR(255),
  "disponivelAte" DATE,
  "flagVerificarPrecoComparandoComMedia" VARCHAR(2),
  sempreconsultarproprietariovisita SMALLINT,
  "codCartografico" VARCHAR(255),
  "codConsumidorAgua" VARCHAR(255),
  "codConsumidorEnergia" VARCHAR(255),
  "codContribuinte" VARCHAR(255),
  "codigoRefIptu" VARCHAR(255),
  "emailPublicacaoProprietarioEnviado" VARCHAR(2),
  "statusConversaoImovel" VARCHAR(255),
  matricula VARCHAR(255),
  "ultimoEmailDeConfirmacaoEnviado" TIMESTAMP WITHOUT TIME ZONE,
  latlng TEXT,
  "ultimoUpdateIndice" TIMESTAMP WITHOUT TIME ZONE,
  regiao_id BIGINT,
  titulo VARCHAR(255),
  "atualizadoEm" TIMESTAMP WITHOUT TIME ZONE,
  "condominioPai_id" BIGINT,
  "suspensoAte" TIMESTAMP WITHOUT TIME ZONE,
  "estacaoMaisProxima_id" BIGINT,
  "externalId" VARCHAR(255),
  "emNegociacao" SMALLINT,
  "emNegociacaoExterna" SMALLINT,
  "entrouEmNegociacaoExterna" TIMESTAMP WITHOUT TIME ZONE,
  "motivoRecusaCardiff" TEXT,
  "recaptadoEm" TIMESTAMP WITHOUT TIME ZONE,
  "jobFotografoPendente" SMALLINT,
  "requisitouFotosProfissionais" SMALLINT,
  "latBkp" NUMERIC(10,7),
  "lngBkp" NUMERIC(10,7),
  "lastConfirmationAvailability" TIMESTAMP WITHOUT TIME ZONE,
  cartorio VARCHAR(255),
  "penalizationScore" INTEGER,
  "receberCopiaContratoPadrao" SMALLINT,
  "rankScore" INTEGER,
  "ultimaPublicacao" TIMESTAMP WITHOUT TIME ZONE,
  "confirmadoInformacoesVisita" VARCHAR(10),
  "REV" INTEGER,
  "datePublication" TIMESTAMP WITHOUT TIME ZONE,
  published SMALLINT,
  status_time TIMESTAMP WITHOUT TIME ZONE,
  status_date DATE,
  status_history VARCHAR(255),
  current_status VARCHAR(255),
  rnk BIGINT,
  first_status_date DATE,
  last_status_date DATE,
  next_status_date DATE,
  next_status_time TIMESTAMP WITHOUT TIME ZONE,
  next_status VARCHAR(255),
  diff_status_time INTERVAL,
  pub_at_least_min_time_flag BOOLEAN,
  distinct_status_flag BOOLEAN,
  last_position_date_flag BOOLEAN,
  all_status_date_position_flag BOOLEAN
)
WITH (oids = false);