-- Table: public.lead

DROP TABLE if exists public.lead;

CREATE TABLE public.lead
(
  id bigint NOT NULL DEFAULT '0'::bigint,
  anuncio_criado_em date,
  area_total integer,
  bairro character varying(200) DEFAULT NULL::character varying,
  captado_em date,
  cep character varying(9) DEFAULT NULL::character varying,
  cidade character varying(200) DEFAULT NULL::character varying,
  complemento character varying(200) DEFAULT NULL::character varying,
  endereco character varying(200) DEFAULT NULL::character varying,
  endereco_captado text,
  nome_anunciante character varying(255) DEFAULT NULL::character varying,
  numero character varying(200) DEFAULT NULL::character varying,
  numero_banheiros integer,
  numero_quartos integer,
  numero_suites integer,
  url_anuncio character varying(255) DEFAULT NULL::character varying,
  valor integer,
  telefone_anunciante character varying(100) DEFAULT NULL::character varying,
  valor_por_metro_quad numeric(18,4) DEFAULT NULL::numeric,
  valor_por_quartos numeric(18,4) DEFAULT NULL::numeric,
  tipo character varying(255) DEFAULT NULL::character varying,
  email character varying(250) DEFAULT NULL::character varying,
  email_captador character varying(250) DEFAULT NULL::character varying,
  telefone_captador character varying(250) DEFAULT NULL::character varying,
  hot integer,
  proximo_followup timestamp without time zone,
  gerado_a_partir_de_deduplicacao integer,
  dentro_area_atuacao integer DEFAULT 0,
  sistema_enviou_email_via_classificado integer,
  lat numeric(10,7) DEFAULT NULL::numeric,
  lng numeric(10,7) DEFAULT NULL::numeric,
  condominio integer,
  iptu integer,
  reason character varying(255) DEFAULT NULL::character varying,
  status character varying(255) DEFAULT NULL::character varying,
  envio_email_apresentacao_pos timestamp without time zone,
  envio_email_apresentacao_pre timestamp without time zone,
  processado smallint,
  origem character varying(255) DEFAULT NULL::character varying,
  external_id character varying(255) DEFAULT NULL::character varying,
  mencionar integer NOT NULL,
  referencia character varying(255) DEFAULT NULL::character varying,
  automatically_discarded integer,
  estado_nome character varying(255) DEFAULT NULL::character varying,
  estado_abrev character varying(255) DEFAULT NULL::character varying,
  lead_imobiliaria character varying(255) DEFAULT NULL::character varying,
  proprietario_nome character varying(255) DEFAULT NULL::character varying,
  proprietario_email character varying(255) DEFAULT NULL::character varying,
  dados_corretor_tipo_afiliado character varying(200) DEFAULT NULL::character varying,
  dados_corretor_nome character varying(200) DEFAULT NULL::character varying,
  dados_corretor_email character varying(200) DEFAULT NULL::character varying,
  dados_gerente_contas_nome character varying(200) DEFAULT NULL::character varying,
  dados_gerente_contas_email character varying(200) DEFAULT NULL::character varying,
  dados_afiliado_tipo_afiliado character varying(255) DEFAULT NULL::character varying,
  dados_afiliado_inicio_atuacao timestamp without time zone,
  dados_afiliado_cidade_atuacao character varying(100) DEFAULT NULL::character varying,
  region_id integer,
  atualizado_em timestamp without time zone,
  criado_em timestamp without time zone,
  url_source character varying(100) DEFAULT NULL::character varying,
  utm_medium character varying(100) DEFAULT NULL::character varying,
  utm_campaign character varying(100) DEFAULT NULL::character varying,
  utm_source character varying(100) DEFAULT NULL::character varying,
  usuario_que_indicou_id character varying(100) DEFAULT NULL::character varying
)
WITH (
  OIDS=FALSE
);
ALTER TABLE public.lead
  OWNER TO "QuintoAndar";
