DROP TABLE IF EXISTS potential_listings_temp;

CREATE TABLE potential_listings_temp(
  id bigserial not null primary key,
  ref_date timestamp DEFAULT NULL,
  created_date timestamp DEFAULT NULL,
  updated_date timestamp DEFAULT NULL,
  attribution_id integer DEFAULT NULL,
  attribution_uuid varchar(255) DEFAULT NULL,
  contact_date timestamp DEFAULT NULL,
  lead_date timestamp DEFAULT NULL,
  prospect_date timestamp DEFAULT NULL,
  first_inside_sales_contact_date timestamp DEFAULT NULL,
  qualified_date timestamp DEFAULT NULL,
  opportunity_date timestamp DEFAULT NULL,
  listing_publication_date timestamp DEFAULT NULL,
  contract_date timestamp DEFAULT NULL,
  lead_id integer DEFAULT NULL,
  property_id integer DEFAULT NULL,
  renting_value integer DEFAULT NULL,
  current_property_status varchar(255) DEFAULT NULL,
  dados_fotografo_id integer DEFAULT NULL,
  owner_id integer DEFAULT NULL,
  rep_id integer DEFAULT NULL,
  manager_id integer DEFAULT '0',
  vendedor_id integer DEFAULT NULL,
  tipo_admin varchar(255) DEFAULT NULL,
  imovel_attribution varchar(255) DEFAULT NULL,
  lead_tipo varchar(255) DEFAULT NULL,
  -- attribution_type varchar(50) DEFAULT NULL,
  -- attribution_category varchar(50) DEFAULT NULL,
  affiliate_listing_value decimal(12,4) DEFAULT NULL,
  affiliate_renting_value decimal(12,4) DEFAULT NULL,
  -- funnel_source varchar(50) DEFAULT NULL,
  cac_affiliate decimal(12,4) DEFAULT NULL,
  cac_marketing decimal(12,4) NOT NULL DEFAULT '0.0000',
  cac_photo decimal(12,4) NOT NULL DEFAULT '0.0000',
  cac_inside_sales decimal(12,4) NOT NULL DEFAULT '0.0000',
  contact_to_lead_diff_minutes integer DEFAULT NULL,
  lead_to_qualified_diff_minutes integer DEFAULT NULL,
  qualified_to_opportunity_diff_minutes integer DEFAULT NULL,
  opportunity_to_listing_diff_minutes integer DEFAULT NULL,
  listing_to_1stcontract_diff_minutes integer DEFAULT NULL,
  contact_to_listing_diff_minutes integer DEFAULT NULL,
  contact_to_1stcontract_diff_minutes integer DEFAULT NULL
);