DROP TABLE public.region;
CREATE TABLE public.region (
  id INTEGER NOT NULL,
  "criadaEm" TIMESTAMP NOT NULL,
  "atualizadoEm" TIMESTAMP NOT NULL,
  nivel VARCHAR(30) NOT NULL,
  nome VARCHAR(100) NOT NULL,
  "macroId" INTEGER NOT NULL,
  "macroNome" VARCHAR(100) NOT NULL,
  "cidadeId" INTEGER NOT NULL,
  "cidadeNome" VARCHAR(100) NOT NULL,
  dt_timestamp TIMESTAMP NOT NULL
)
WITH (oids = false);
