select
	date_part('year', f.dt_first_publication)*100+
	date_part('month', f.dt_first_publication) as ym,
    f.dt_first_publication::date as first_publ,
    count(distinct f.sk_property),
    min(f.inside_sales_month_cost),
    sum(f.cac_inside_sales),

    count(1) over (partition by date_part('year', f.dt_first_publication)*100+
		date_part('month', f.dt_first_publication)) as days,

	sum(f.cac_inside_sales) *
    count(1) over (partition by date_part('year', f.dt_first_publication)*100+
		date_part('month', f.dt_first_publication)) as redo,

    min(f.inside_sales_month_cost)::integer -
	(sum(f.cac_inside_sales) *
    count(1) over (partition by date_part('year', f.dt_first_publication)*100+
		date_part('month', f.dt_first_publication)))::integer as check


from
	fact_supply_potential_listings f
where
	f.is_first_publication
group by
	date_part('year', f.dt_first_publication)*100+
	date_part('month', f.dt_first_publication),
    f.dt_first_publication::date