DROP TABLE if exists dim_date;

CREATE TABLE public.dim_date (
  sk_date TIMESTAMP,
  year INTEGER,
  month INTEGER,
  month_name VARCHAR(15),
  day INTEGER,
  day_of_year INTEGER,
  week_day INTEGER,
  weekday_name VARCHAR(15),
  calendar_week INTEGER,
  brz_date CHAR(10),
  usa_date CHAR(10),
  universal_date CHAR(10),
  quarter VARCHAR(2),
  year_quarter VARCHAR(10),
  year_month VARCHAR(10),
  year_calendar_week VARCHAR(10),
  weekend VARCHAR(10),
  is_brz_holiday VARCHAR(10),
  brz_season VARCHAR(10),
  week_start TIMESTAMP,
  week_end TIMESTAMP,
  month_start TIMESTAMP,
  month_end TIMESTAMP,
  last_day TIMESTAMP,
  last_week TIMESTAMP,
  last_2_weeks TIMESTAMP,
  last_4_weeks TIMESTAMP,
  last_month TIMESTAMP,
  last_quarter TIMESTAMP,
  last_year TIMESTAMP
);

SELECT
	sk_date,
	EXTRACT(YEAR FROM sk_date) AS YEAR,
	EXTRACT(MONTH FROM sk_date) AS MONTH,
	to_char(sk_date, 'Month') AS Month_Name,
	EXTRACT(DAY FROM sk_date) AS DAY,
	EXTRACT(doy FROM sk_date) AS Day_Of_Year,
    EXTRACT(dow FROM sk_date) as Week_Day,
	to_char(sk_date, 'Day') AS Weekday_Name,
	EXTRACT(week FROM sk_date) AS Calendar_Week,
	to_char(sk_date, 'dd/mm/yyyy') AS Brz_Date,
    to_char(sk_date, 'mm/dd/yyyy') AS Usa_Date,
    to_char(sk_date, 'yyyy/mm/dd') AS Universal_Date,
	'Q' || to_char(sk_date, 'Q') AS Quarter,
	to_char(sk_date, 'yyyy/"Q"Q') AS Year_Quarter,
	to_char(sk_date, 'yyyy/mm') AS Year_Month,
	to_char(sk_date, 'iyyy/IW') AS Year_Calendar_Week,
	-- Weekend
	CASE WHEN EXTRACT(dow FROM sk_date) IN (6, 7) THEN 'Weekend' ELSE 'Weekday' END AS Weekend,
	-- Fixed holidays
      CASE WHEN to_char(sk_date, 'MMDD') IN ('0101', '0421', '0501', '0907', '1012', '1102', '1115', '1225')
      THEN 'Holiday' ELSE 'No holiday' END
      AS Is_Brz_Holiday,
	-- Some periods of the year, adjust for your organisation and country

    CASE
    	WHEN to_char(sk_date, 'MMDD') BETWEEN '0320' AND '0619' THEN 'Autumn'
        WHEN to_char(sk_date, 'MMDD') BETWEEN '0620' AND '0921' THEN 'Winter'
	    WHEN to_char(sk_date, 'MMDD') BETWEEN '0922' AND '1220' THEN 'Spring'
        ELSE 'Summer'
    END AS Brz_Season,

    date_trunc('week',sk_date) AS Week_Start,
	date_trunc('week',sk_date) + '1 week'::INTERVAL - '1 day'::interval AS Week_End,
    date_trunc('month',sk_date) AS Month_Start,
	date_trunc('month',sk_date) + '1 month'::INTERVAL - '1 day'::interval AS Month_End,
    sk_date - '1 day'::interval as Last_Day,
    sk_date - '7 days'::interval as Last_Week,
    sk_date - '14 days'::interval as Last_2_Weeks,
    sk_date - '28 days'::interval as Last_4_Weeks,
    sk_date - '1 month'::interval as Last_Month,
    sk_date - '3 months'::interval as Last_Quarter,
    sk_date - '1 year'::interval as Last_Year

INTO dim_date

FROM (
	-- There are 3 leap years in this range, so calculate 365 * 10 + 3 records
	SELECT '2010-01-01'::DATE +(n||' days')::interval AS sk_date
    FROM generate_series(0, 7304) n --7304
     ) DQ
ORDER BY 1;



