DROP TABLE public.agents_schedule;

CREATE TABLE public.agents_schedule (
  row_number INTEGER NOT NULL,
  agent_user_id INTEGER NOT NULL,
  available_date DATE NOT NULL,
  region_id INTEGER,
  region_name VARCHAR(100),
  slot_id INTEGER,
  slot_start VARCHAR(5),
  slot_end VARCHAR(5),
  slot_available BOOLEAN,
  slot_status VARCHAR(50),
  "timestamp" TIMESTAMP NOT NULL
)
WITH (oids = false);



