DROP TABLE IF EXISTS public.agent_schedule;
CREATE TABLE public.agent_schedule (
  agente_id INTEGER,
  data DATE,
  disponivel08as09 SMALLINT,
  disponivel09as10 SMALLINT,
  disponivel10as11 SMALLINT,
  disponivel11as12 SMALLINT,
  disponivel12as13 SMALLINT,
  disponivel13as14 SMALLINT,
  disponivel14as15 SMALLINT,
  disponivel15as16 SMALLINT,
  disponivel16as17 SMALLINT,
  disponivel17as18 SMALLINT,
  disponivel18as19 SMALLINT,
  disponivel19as20 SMALLINT
)
WITH (oids = false);
