DROP TABLE IF EXISTS public.amplitude_event_schedule_visit;

CREATE TABLE public.amplitude_event_schedule_visit (
  uuid TEXT NOT NULL,
  app_id TEXT NOT NULL,
  event_type TEXT,
  event_time TEXT,
  imovel_id INTEGER,
  CONSTRAINT amplitude_event_schedule_visit_pk PRIMARY KEY(app_id, uuid)
)
WITH (oids = false);