DROP TABLE IF EXISTS public.ga_confirmed_visits;

CREATE TABLE public.ga_confirmed_visits (
  campaign VARCHAR NOT NULL,
  "sourceMedium" VARCHAR(1000) NOT NULL,
  "operatingSystem" VARCHAR(50) NOT NULL,
  "mobileDeviceModel" VARCHAR(50) NOT NULL,
  "mobileDeviceMarketingName" VARCHAR(200) NOT NULL,
  "deviceCategory" VARCHAR(20) NOT NULL,
  date VARCHAR(8) NOT NULL,
  "goal2Starts" VARCHAR(30) NOT NULL,
  "goal10Starts" VARCHAR(30) NOT NULL,
  "goal2Completions" VARCHAR(30) NOT NULL,
  "goal10Completions" VARCHAR(30) NOT NULL,
  "goal2Value" VARCHAR(30) NOT NULL,
  "goal10Value" VARCHAR(30) NOT NULL,
  "goal2ConversionRate" VARCHAR(30) NOT NULL,
  "goal10ConversionRate" VARCHAR(30) NOT NULL,
  "searchGoal2ConversionRate" VARCHAR(30) NOT NULL,
  "searchGoal10ConversionRate" VARCHAR(30) NOT NULL,
  account_name VARCHAR(100) NOT NULL,
  property_name VARCHAR(100) NOT NULL,
  profile_name VARCHAR(100) NOT NULL
)
WITH (oids = false);