DROP TABLE IF EXISTS public.negotiation;
CREATE TABLE public.negotiation (
  id INTEGER NOT NULL,
  "dataParaMudanca" public.datetime,
  "deadlineEm" public.datetime,
  "enviadaEm" public.datetime NULL,
  garantia VARCHAR(50),
  periodo VARCHAR(50),
  "propostaAluguel" INTEGER,
  "respAluguel" VARCHAR(50) NULL,
  "respAnimais" VARCHAR(50) NULL,
  "respExplicacao" VARCHAR(50) NULL,
  "respGarantias" VARCHAR(50) NULL,
  "respInquilinos" VARCHAR(50) NULL,
  "respItensEssenciais" VARCHAR(50) NULL,
  "respItensPreferenciais" VARCHAR(50) NULL,
  "respMudanca" VARCHAR(50) NULL,
  "respPeriodo" VARCHAR(50) NULL,
  fase VARCHAR(50) NULL,
  "deAcordo_condominio" INTEGER,
  "deAcordo_iptu" INTEGER,
  "deAcordo_reserva" INTEGER,
  "deAcordo_vencimento" INTEGER,
  fiador_cidade VARCHAR(50),
  fiador_tipo VARCHAR(50),
  fiador_vinculo VARCHAR(50),
  status VARCHAR(50) NULL,
  "rejeicaoPendente" INTEGER NULL,
  "rejeitadaEm" public.datetime,
  "motivoRejeicao" VARCHAR(2000),
  "criadoEm" public.datetime NOT NULL,
  "atualizadoEm" public.datetime NOT NULL
)
WITH (oids = false);