DROP TABLE IF EXISTS rental_flow;
CREATE TABLE rental_flow (
  "id" bigint,
  "atualizadoEm" timestamp DEFAULT NULL,
  "criadoEm" timestamp,
  "cliente_id" bigint,
  "gerente_id" bigint,
  "imovel_id" bigint,
  "ignorarAntesDe" timestamp,
  "status" varchar(100),
  "etapaRejeitada" smallint,
  "withoutIptu" BIT(1);
);