drop table if exists usuario;

CREATE TABLE usuario (

  id bigint NOT NULL PRIMARY KEY,
  nome varchar(255) DEFAULT NULL,
  bairro varchar(255) DEFAULT NULL,
  cep varchar(255) DEFAULT NULL,
  cidade varchar(255) DEFAULT NULL,
  complemento varchar(255) DEFAULT NULL,
  cpf varchar(255) DEFAULT NULL,
  data_nascimento timestamp DEFAULT NULL,
  email varchar(255) DEFAULT NULL,
  email_alternativo varchar(255) DEFAULT NULL,
  endereco varchar(255) DEFAULT NULL,
  numero varchar(255) DEFAULT NULL,
  facebook_id varchar(255) DEFAULT NULL,
  linkedin_id varchar(255) DEFAULT NULL,
  sexo varchar(255) DEFAULT NULL,
  telefone_principal varchar(255) DEFAULT NULL,
  estado_abreviacao varchar(200) DEFAULT NULL,
  estado_nome varchar(200) DEFAULT NULL,
  contadorlogin bigint DEFAULT NULL,
  nao_me_prgunte_telefone integer DEFAULT NULL,
  bloqueado integer DEFAULT NULL,
  rg varchar(30) DEFAULT NULL,
  detalhes_lead_busca_guiada text,
  recebeu_busca_guiada integer DEFAULT NULL,
  dadosagente_email_coordinator varchar(255) DEFAULT NULL,
  dadosagente_cidade varchar(255) DEFAULT NULL,
  dadosagente_atuacao varchar(100) DEFAULT NULL,
  dadosagente_perfil varchar(255) DEFAULT NULL,
  dadosagente_numero_creci varchar(255) DEFAULT NULL,
  dadosagente_ativo integer DEFAULT NULL,
  aceita_sms integer DEFAULT NULL,
  preferencia_contato varchar(255) DEFAULT NULL,
  prefere_contato varchar(255) DEFAULT NULL,
  data_clickanuncie timestamp DEFAULT NULL,
  dadosbancarios_banco_codigo varchar(255) DEFAULT NULL,
  dadosbancarios_banco varchar(255) DEFAULT NULL,
  dadosBancarios_agencia varchar(255) DEFAULT NULL,
  dadosbancarios_conta_corrente varchar(255) DEFAULT NULL,
  dadosbancarios_cpf_cnpj varchar(255) DEFAULT NULL,
  dadosBancarios_nome varchar(255) DEFAULT NULL,
  dadosbancarios_outro_titular integer DEFAULT NULL,
  dadosBancarios_tipo_conta varchar(255) DEFAULT NULL,
  nao_enviar_aviso_mensal_procura integer DEFAULT NULL,
  cod_ativacao_sms varchar(6) DEFAULT NULL,
  data_geracao_cod_sms date DEFAULT NULL,
  tipo_admin varchar(255) DEFAULT NULL,
  last_update_oportunidade timestamp DEFAULT NULL,
  data_avisado_condicoes_cardiff timestamp DEFAULT NULL,
  data_captadora_enviou_email timestamp DEFAULT NULL,
  data_enviado_app_e_cardiff timestamp DEFAULT NULL,
  google_id varchar(255) DEFAULT NULL,
  account_kit_id varchar(255) DEFAULT NULL,
  dadosFotografo_inicio_contrato timestamp,
  dadosFotografo_tipo_contrato varchar(255) DEFAULT NULL,
  dadosFotografo_preferencia_pagamento varchar(255) DEFAULT NULL,
  dadosFotografo_ativo integer DEFAULT NULL,
  dadosVendedor_inicio_contrato timestamp,
  dadosVendedor_nome_gerente varchar(255) DEFAULT NULL,
  dadosAfiliado_indicacao_shorturl varchar(100) DEFAULT NULL,
  dadosAfiliado_inicio_atuacao timestamp,
  dadosAfiliado_ultim_calculo_comissao_indicado timestamp DEFAULT NULL,
  dadosAfiliado_verificado integer DEFAULT NULL,
  dadosAfiliado_tipo varchar(255) DEFAULT NULL,
  dadosAfiliado_cidade_atuacao varchar(100) DEFAULT NULL,
  dadosAfiliado_principais_bairros_atuacao text,
  dadosAfiliado_preferencia_pagamento varchar(255) DEFAULT NULL,
  dadosAfiliado_numero_creci varchar(255) DEFAULT NULL,
  dadosAfiliado_semana_ultima_comunicacao_balanco integer DEFAULT NULL,
  dadosAfiliado_id_planilha_gdocs varchar(200) DEFAULT NULL,
  dadosAfiliado_ativo integer DEFAULT NULL,
  dadosGerenteContas_inicio_contrato timestamp,
  dadosGerenteContas_nome varchar(255) DEFAULT NULL,
  active integer DEFAULT NULL,

  dados_agente_id integer,
  dados_fotografo_id integer,
  dados_vendedor_id integer,
  dados_afiliado_id integer,
  flg_doorman_affiliate smallint,
  dt_doorman_joined timestamp,
  tem_imovel smallint,
  tem_app_inquilino smallint,
  tem_contrato_ativo smallint,
  inquilino smallint,

  first_dt_document_sent timestamp,
  last_dt_document_sent timestamp,
  first_dt_sent_to_insurance timestamp,

  criado_em timestamp DEFAULT NULL ,
  atualizado_em timestamp DEFAULT NULL
)
;