DROP TABLE IF EXISTS public.visit;
CREATE TABLE public.visit (
  id INTEGER NOT NULL,
  "criadoEm" public.datetime NULL,
  "atualizadoEm" public.datetime NULL,
  codigo VARCHAR(12) NULL,
  dia DATE NULL,
  slot INTEGER NULL,
  "numeroSlots" INTEGER NULL,
  tipo INTEGER NULL,
  "agenteFixo" VARCHAR(1) NULL,
  "realEstateAgentRating_id" VARCHAR(100),
  status VARCHAR(50),
  "bookingType" VARCHAR(100)
)
WITH (oids = false);
