CREATE OR REPLACE FUNCTION public.f_get_days_in_month (
  _dt timestamp = now()
)
RETURNS integer AS
$body$
DECLARE
  ret integer;
BEGIN
  SELECT
      DATE_PART('days',
          DATE_TRUNC('month', _dt)
          + '1 MONTH'::INTERVAL
          - '1 DAY'::INTERVAL
      )
  INTO ret;

  return ret;
END;
$body$
LANGUAGE 'plpgsql'
IMMUTABLE;

-- select f_get_days_in_month('2016-02-01'::timestamp)