[
   {
     "table_name": "workflows",
     "clean_table_name": "workflows",
     "extraction_type": "incremental",
     "date_filter_column": "updated"
   },
   {
     "table_name": "tasks",
     "clean_table_name": "tasks",
     "extraction_type": "incremental",
     "date_filter_column": "actions.date"
   },
   {
     "table_name": "taskstatushistories",
     "clean_table_name": "task_status_histories",
     "extraction_type": "incremental",
     "date_filter_column": "history.date"
   },
   {
     "table_name": "tasktitles",
     "clean_table_name": "task_titles",
     "extraction_type": "full",
   },
   {
     "table_name": "workgroups",
     "clean_table_name": "workgroups",
     "extraction_type": "full",
   },
 ]