--drop view if exists vw_dim_visit;
--create view vw_dim_visit as
SELECT
  id as sk_visit,
  id as id_visit,
  codigo as cd_visit,
  dia as day_visit,
  slot as slot,
  "numeroSlots" as slot_count,
  tipo as type,
  status,
  "bookingType" as booking_type,
  "criadoEm" as dt_created,
  "atualizadoEm" as dt_updated,
  now()::timestamp as dt_timestamp
FROM
  public.visit ;
