DROP TABLE IF EXISTS dim_time;

CREATE TABLE public.dim_time (
  sk_time CHAR(5) primary key,
  hour INTEGER,
  minute INTEGER,
  quarter_hour VARCHAR(15),
  half_hour VARCHAR(15),
  daytime_name VARCHAR(15),
  day_night VARCHAR(5)
);

INSERT INTO
  public.dim_time
(
  sk_time,
  hour,
  minute,
  quarter_hour,
  half_hour,
  daytime_name,
  day_night
)
VALUES (
  '-1',
  null,
  null,
  null,
  null,
  null,
  null
);

-- Script to get a time of day dimension:
WITH DQ as
(
	SELECT
    	('0:00'::TIME + (SEQUENCE.MINUTE || ' minutes')::interval) AS minute
	FROM
    	generate_series(0,1439) AS SEQUENCE(MINUTE)
	GROUP BY
    	SEQUENCE.MINUTE
) ,
tb as
(
  SELECT
      to_char(MINUTE, 'hh24:mi') AS time_of_day,

      EXTRACT(HOUR FROM MINUTE) AS hour,
      EXTRACT(HOUR FROM MINUTE)*60 + EXTRACT(MINUTE FROM MINUTE) AS minute,

      (to_char(MINUTE - (EXTRACT(MINUTE FROM MINUTE)::INTEGER % 15 || 'minutes')::INTERVAL, 'hh24:mi') || ' – ' ||
      to_char(MINUTE - (EXTRACT(MINUTE FROM MINUTE)::INTEGER % 15 || 'minutes')::INTERVAL + '14 minutes'::INTERVAL, 'hh24:mi'))
          AS quarter_hour,

      (to_char(MINUTE - (EXTRACT(MINUTE FROM MINUTE)::INTEGER % 30 || 'minutes')::INTERVAL, 'hh24:mi') || ' – ' ||
      to_char(MINUTE - (EXTRACT(MINUTE FROM MINUTE)::INTEGER % 30 || 'minutes')::INTERVAL + '29 minutes'::INTERVAL, 'hh24:mi'))
          AS half_hour,

      CASE WHEN to_char(MINUTE, 'hh24:mi') BETWEEN '06:00' AND '07:59' THEN 'Morning'
           WHEN to_char(MINUTE, 'hh24:mi') BETWEEN '08:00' AND '11:59' THEN 'Work-AM'
           WHEN to_char(MINUTE, 'hh24:mi') BETWEEN '12:00' AND '17:59' THEN 'Work-PM'
           WHEN to_char(MINUTE, 'hh24:mi') BETWEEN '18:00' AND '19:59' THEN 'Evening'
           ELSE 'Night'
      END AS daytime_name,

      CASE WHEN to_char(MINUTE, 'hh24:mi') BETWEEN '06:00' AND '19:59' THEN 'Day'
           ELSE 'Night'
      END AS day_night

  FROM
      DQ
)
insert into dim_time
select
	*
from
	tb
ORDER BY 1


-- select * from dim_time